@charset "UTF-8";
/*!
 * Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
  font-family: "Font Awesome 5 Duotone";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-duotone-900.eot");
  src: url("../webfonts/fa-duotone-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-duotone-900.woff2") format("woff2"), url("../webfonts/fa-duotone-900.woff") format("woff"), url("../webfonts/fa-duotone-900.ttf") format("truetype"), url("../webfonts/fa-duotone-900.svg#fontawesome") format("svg");
}
.fad {
  position: relative;
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
}

.fad:before {
  position: absolute;
  color: var(--fa-primary-color, inherit);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.fad:after {
  color: var(--fa-secondary-color, inherit);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.fa-swap-opacity .fad:before,
.fad.fa-swap-opacity:before {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.fa-swap-opacity .fad:after,
.fad.fa-swap-opacity:after {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.fad.fa-inverse {
  color: #fff;
}

.fad.fa-stack-1x, .fad.fa-stack-2x {
  position: absolute;
}

.fad.fa-stack-1x:before,
.fad.fa-stack-2x:before,
.fad.fa-fw:before {
  left: 50%;
  transform: translateX(-50%);
}

.fad.fa-abacus:after {
  content: "􏙀";
}

.fad.fa-acorn:after {
  content: "􏚮";
}

.fad.fa-ad:after {
  content: "􏙁";
}

.fad.fa-address-book:after {
  content: "􏊹";
}

.fad.fa-address-card:after {
  content: "􏊻";
}

.fad.fa-adjust:after {
  content: "􏁂";
}

.fad.fa-air-conditioner:after {
  content: "􏣴";
}

.fad.fa-air-freshener:after {
  content: "􏗐";
}

.fad.fa-alarm-clock:after {
  content: "􏍎";
}

.fad.fa-alarm-exclamation:after {
  content: "􏡃";
}

.fad.fa-alarm-plus:after {
  content: "􏡄";
}

.fad.fa-alarm-snooze:after {
  content: "􏡅";
}

.fad.fa-album:after {
  content: "􏢟";
}

.fad.fa-album-collection:after {
  content: "􏢠";
}

.fad.fa-alicorn:after {
  content: "􏚰";
}

.fad.fa-alien:after {
  content: "􏣵";
}

.fad.fa-alien-monster:after {
  content: "􏣶";
}

.fad.fa-align-center:after {
  content: "􏀷";
}

.fad.fa-align-justify:after {
  content: "􏀹";
}

.fad.fa-align-left:after {
  content: "􏀶";
}

.fad.fa-align-right:after {
  content: "􏀸";
}

.fad.fa-align-slash:after {
  content: "􏡆";
}

.fad.fa-allergies:after {
  content: "􏑡";
}

.fad.fa-ambulance:after {
  content: "􏃹";
}

.fad.fa-american-sign-language-interpreting:after {
  content: "􏊣";
}

.fad.fa-amp-guitar:after {
  content: "􏢡";
}

.fad.fa-analytics:after {
  content: "􏙃";
}

.fad.fa-anchor:after {
  content: "􏄽";
}

.fad.fa-angel:after {
  content: "􏝹";
}

.fad.fa-angle-double-down:after {
  content: "􏄃";
}

.fad.fa-angle-double-left:after {
  content: "􏄀";
}

.fad.fa-angle-double-right:after {
  content: "􏄁";
}

.fad.fa-angle-double-up:after {
  content: "􏄂";
}

.fad.fa-angle-down:after {
  content: "􏄇";
}

.fad.fa-angle-left:after {
  content: "􏄄";
}

.fad.fa-angle-right:after {
  content: "􏄅";
}

.fad.fa-angle-up:after {
  content: "􏄆";
}

.fad.fa-angry:after {
  content: "􏕖";
}

.fad.fa-ankh:after {
  content: "􏙄";
}

.fad.fa-apple-alt:after {
  content: "􏗑";
}

.fad.fa-apple-crate:after {
  content: "􏚱";
}

.fad.fa-archive:after {
  content: "􏆇";
}

.fad.fa-archway:after {
  content: "􏕗";
}

.fad.fa-arrow-alt-circle-down:after {
  content: "􏍘";
}

.fad.fa-arrow-alt-circle-left:after {
  content: "􏍙";
}

.fad.fa-arrow-alt-circle-right:after {
  content: "􏍚";
}

.fad.fa-arrow-alt-circle-up:after {
  content: "􏍛";
}

.fad.fa-arrow-alt-down:after {
  content: "􏍔";
}

.fad.fa-arrow-alt-from-bottom:after {
  content: "􏍆";
}

.fad.fa-arrow-alt-from-left:after {
  content: "􏍇";
}

.fad.fa-arrow-alt-from-right:after {
  content: "􏍈";
}

.fad.fa-arrow-alt-from-top:after {
  content: "􏍉";
}

.fad.fa-arrow-alt-left:after {
  content: "􏍕";
}

.fad.fa-arrow-alt-right:after {
  content: "􏍖";
}

.fad.fa-arrow-alt-square-down:after {
  content: "􏍐";
}

.fad.fa-arrow-alt-square-left:after {
  content: "􏍑";
}

.fad.fa-arrow-alt-square-right:after {
  content: "􏍒";
}

.fad.fa-arrow-alt-square-up:after {
  content: "􏍓";
}

.fad.fa-arrow-alt-to-bottom:after {
  content: "􏍊";
}

.fad.fa-arrow-alt-to-left:after {
  content: "􏍋";
}

.fad.fa-arrow-alt-to-right:after {
  content: "􏍌";
}

.fad.fa-arrow-alt-to-top:after {
  content: "􏍍";
}

.fad.fa-arrow-alt-up:after {
  content: "􏍗";
}

.fad.fa-arrow-circle-down:after {
  content: "􏂫";
}

.fad.fa-arrow-circle-left:after {
  content: "􏂨";
}

.fad.fa-arrow-circle-right:after {
  content: "􏂩";
}

.fad.fa-arrow-circle-up:after {
  content: "􏂪";
}

.fad.fa-arrow-down:after {
  content: "􏁣";
}

.fad.fa-arrow-from-bottom:after {
  content: "􏍂";
}

.fad.fa-arrow-from-left:after {
  content: "􏍃";
}

.fad.fa-arrow-from-right:after {
  content: "􏍄";
}

.fad.fa-arrow-from-top:after {
  content: "􏍅";
}

.fad.fa-arrow-left:after {
  content: "􏁠";
}

.fad.fa-arrow-right:after {
  content: "􏁡";
}

.fad.fa-arrow-square-down:after {
  content: "􏌹";
}

.fad.fa-arrow-square-left:after {
  content: "􏌺";
}

.fad.fa-arrow-square-right:after {
  content: "􏌻";
}

.fad.fa-arrow-square-up:after {
  content: "􏌼";
}

.fad.fa-arrow-to-bottom:after {
  content: "􏌽";
}

.fad.fa-arrow-to-left:after {
  content: "􏌾";
}

.fad.fa-arrow-to-right:after {
  content: "􏍀";
}

.fad.fa-arrow-to-top:after {
  content: "􏍁";
}

.fad.fa-arrow-up:after {
  content: "􏁢";
}

.fad.fa-arrows:after {
  content: "􏁇";
}

.fad.fa-arrows-alt:after {
  content: "􏂲";
}

.fad.fa-arrows-alt-h:after {
  content: "􏌷";
}

.fad.fa-arrows-alt-v:after {
  content: "􏌸";
}

.fad.fa-arrows-h:after {
  content: "􏁾";
}

.fad.fa-arrows-v:after {
  content: "􏁽";
}

.fad.fa-assistive-listening-systems:after {
  content: "􏊢";
}

.fad.fa-asterisk:after {
  content: "􏁩";
}

.fad.fa-at:after {
  content: "􏇺";
}

.fad.fa-atlas:after {
  content: "􏕘";
}

.fad.fa-atom:after {
  content: "􏗒";
}

.fad.fa-atom-alt:after {
  content: "􏗓";
}

.fad.fa-audio-description:after {
  content: "􏊞";
}

.fad.fa-award:after {
  content: "􏕙";
}

.fad.fa-axe:after {
  content: "􏚲";
}

.fad.fa-axe-battle:after {
  content: "􏚳";
}

.fad.fa-baby:after {
  content: "􏝼";
}

.fad.fa-baby-carriage:after {
  content: "􏝽";
}

.fad.fa-backpack:after {
  content: "􏗔";
}

.fad.fa-backspace:after {
  content: "􏕚";
}

.fad.fa-backward:after {
  content: "􏁊";
}

.fad.fa-bacon:after {
  content: "􏟥";
}

.fad.fa-bacteria:after {
  content: "􎁙";
}

.fad.fa-bacterium:after {
  content: "􎁚";
}

.fad.fa-badge:after {
  content: "􏌵";
}

.fad.fa-badge-check:after {
  content: "􏌶";
}

.fad.fa-badge-dollar:after {
  content: "􏙅";
}

.fad.fa-badge-percent:after {
  content: "􏙆";
}

.fad.fa-badge-sheriff:after {
  content: "􏢢";
}

.fad.fa-badger-honey:after {
  content: "􏚴";
}

.fad.fa-bags-shopping:after {
  content: "􏡇";
}

.fad.fa-bahai:after {
  content: "􏙦";
}

.fad.fa-balance-scale:after {
  content: "􏉎";
}

.fad.fa-balance-scale-left:after {
  content: "􏔕";
}

.fad.fa-balance-scale-right:after {
  content: "􏔖";
}

.fad.fa-ball-pile:after {
  content: "􏝾";
}

.fad.fa-ballot:after {
  content: "􏜲";
}

.fad.fa-ballot-check:after {
  content: "􏜳";
}

.fad.fa-ban:after {
  content: "􏁞";
}

.fad.fa-band-aid:after {
  content: "􏑢";
}

.fad.fa-banjo:after {
  content: "􏢣";
}

.fad.fa-barcode:after {
  content: "􏀪";
}

.fad.fa-barcode-alt:after {
  content: "􏑣";
}

.fad.fa-barcode-read:after {
  content: "􏑤";
}

.fad.fa-barcode-scan:after {
  content: "􏑥";
}

.fad.fa-bars:after {
  content: "􏃉";
}

.fad.fa-baseball:after {
  content: "􏐲";
}

.fad.fa-baseball-ball:after {
  content: "􏐳";
}

.fad.fa-basketball-ball:after {
  content: "􏐴";
}

.fad.fa-basketball-hoop:after {
  content: "􏐵";
}

.fad.fa-bat:after {
  content: "􏚵";
}

.fad.fa-bath:after {
  content: "􏋍";
}

.fad.fa-battery-bolt:after {
  content: "􏍶";
}

.fad.fa-battery-empty:after {
  content: "􏉄";
}

.fad.fa-battery-full:after {
  content: "􏉀";
}

.fad.fa-battery-half:after {
  content: "􏉂";
}

.fad.fa-battery-quarter:after {
  content: "􏉃";
}

.fad.fa-battery-slash:after {
  content: "􏍷";
}

.fad.fa-battery-three-quarters:after {
  content: "􏉁";
}

.fad.fa-bed:after {
  content: "􏈶";
}

.fad.fa-bed-alt:after {
  content: "􏣷";
}

.fad.fa-bed-bunk:after {
  content: "􏣸";
}

.fad.fa-bed-empty:after {
  content: "􏣹";
}

.fad.fa-beer:after {
  content: "􏃼";
}

.fad.fa-bell:after {
  content: "􏃳";
}

.fad.fa-bell-exclamation:after {
  content: "􏡈";
}

.fad.fa-bell-on:after {
  content: "􏣺";
}

.fad.fa-bell-plus:after {
  content: "􏡉";
}

.fad.fa-bell-school:after {
  content: "􏗕";
}

.fad.fa-bell-school-slash:after {
  content: "􏗖";
}

.fad.fa-bell-slash:after {
  content: "􏇶";
}

.fad.fa-bells:after {
  content: "􏝿";
}

.fad.fa-betamax:after {
  content: "􏢤";
}

.fad.fa-bezier-curve:after {
  content: "􏕛";
}

.fad.fa-bible:after {
  content: "􏙇";
}

.fad.fa-bicycle:after {
  content: "􏈆";
}

.fad.fa-biking:after {
  content: "􏡊";
}

.fad.fa-biking-mountain:after {
  content: "􏡋";
}

.fad.fa-binoculars:after {
  content: "􏇥";
}

.fad.fa-biohazard:after {
  content: "􏞀";
}

.fad.fa-birthday-cake:after {
  content: "􏇽";
}

.fad.fa-blanket:after {
  content: "􏒘";
}

.fad.fa-blender:after {
  content: "􏔗";
}

.fad.fa-blender-phone:after {
  content: "􏚶";
}

.fad.fa-blind:after {
  content: "􏊝";
}

.fad.fa-blinds:after {
  content: "􏣻";
}

.fad.fa-blinds-open:after {
  content: "􏣼";
}

.fad.fa-blinds-raised:after {
  content: "􏣽";
}

.fad.fa-blog:after {
  content: "􏞁";
}

.fad.fa-bold:after {
  content: "􏀲";
}

.fad.fa-bolt:after {
  content: "􏃧";
}

.fad.fa-bomb:after {
  content: "􏇢";
}

.fad.fa-bone:after {
  content: "􏗗";
}

.fad.fa-bone-break:after {
  content: "􏗘";
}

.fad.fa-bong:after {
  content: "􏕜";
}

.fad.fa-book:after {
  content: "􏀭";
}

.fad.fa-book-alt:after {
  content: "􏗙";
}

.fad.fa-book-dead:after {
  content: "􏚷";
}

.fad.fa-book-heart:after {
  content: "􏒙";
}

.fad.fa-book-medical:after {
  content: "􏟦";
}

.fad.fa-book-open:after {
  content: "􏔘";
}

.fad.fa-book-reader:after {
  content: "􏗚";
}

.fad.fa-book-spells:after {
  content: "􏚸";
}

.fad.fa-book-user:after {
  content: "􏟧";
}

.fad.fa-bookmark:after {
  content: "􏀮";
}

.fad.fa-books:after {
  content: "􏗛";
}

.fad.fa-books-medical:after {
  content: "􏟨";
}

.fad.fa-boombox:after {
  content: "􏢥";
}

.fad.fa-boot:after {
  content: "􏞂";
}

.fad.fa-booth-curtain:after {
  content: "􏜴";
}

.fad.fa-border-all:after {
  content: "􏡌";
}

.fad.fa-border-bottom:after {
  content: "􏡍";
}

.fad.fa-border-center-h:after {
  content: "􏢜";
}

.fad.fa-border-center-v:after {
  content: "􏢝";
}

.fad.fa-border-inner:after {
  content: "􏡎";
}

.fad.fa-border-left:after {
  content: "􏡏";
}

.fad.fa-border-none:after {
  content: "􏡐";
}

.fad.fa-border-outer:after {
  content: "􏡑";
}

.fad.fa-border-right:after {
  content: "􏡒";
}

.fad.fa-border-style:after {
  content: "􏡓";
}

.fad.fa-border-style-alt:after {
  content: "􏡔";
}

.fad.fa-border-top:after {
  content: "􏡕";
}

.fad.fa-bow-arrow:after {
  content: "􏚹";
}

.fad.fa-bowling-ball:after {
  content: "􏐶";
}

.fad.fa-bowling-pins:after {
  content: "􏐷";
}

.fad.fa-box:after {
  content: "􏑦";
}

.fad.fa-box-alt:after {
  content: "􏒚";
}

.fad.fa-box-ballot:after {
  content: "􏜵";
}

.fad.fa-box-check:after {
  content: "􏑧";
}

.fad.fa-box-fragile:after {
  content: "􏒛";
}

.fad.fa-box-full:after {
  content: "􏒜";
}

.fad.fa-box-heart:after {
  content: "􏒝";
}

.fad.fa-box-open:after {
  content: "􏒞";
}

.fad.fa-box-tissue:after {
  content: "􎁛";
}

.fad.fa-box-up:after {
  content: "􏒟";
}

.fad.fa-box-usd:after {
  content: "􏒠";
}

.fad.fa-boxes:after {
  content: "􏑨";
}

.fad.fa-boxes-alt:after {
  content: "􏒡";
}

.fad.fa-boxing-glove:after {
  content: "􏐸";
}

.fad.fa-brackets:after {
  content: "􏟩";
}

.fad.fa-brackets-curly:after {
  content: "􏟪";
}

.fad.fa-braille:after {
  content: "􏊡";
}

.fad.fa-brain:after {
  content: "􏗜";
}

.fad.fa-bread-loaf:after {
  content: "􏟫";
}

.fad.fa-bread-slice:after {
  content: "􏟬";
}

.fad.fa-briefcase:after {
  content: "􏂱";
}

.fad.fa-briefcase-medical:after {
  content: "􏑩";
}

.fad.fa-bring-forward:after {
  content: "􏡖";
}

.fad.fa-bring-front:after {
  content: "􏡗";
}

.fad.fa-broadcast-tower:after {
  content: "􏔙";
}

.fad.fa-broom:after {
  content: "􏔚";
}

.fad.fa-browser:after {
  content: "􏍾";
}

.fad.fa-brush:after {
  content: "􏕝";
}

.fad.fa-bug:after {
  content: "􏆈";
}

.fad.fa-building:after {
  content: "􏆭";
}

.fad.fa-bullhorn:after {
  content: "􏂡";
}

.fad.fa-bullseye:after {
  content: "􏅀";
}

.fad.fa-bullseye-arrow:after {
  content: "􏙈";
}

.fad.fa-bullseye-pointer:after {
  content: "􏙉";
}

.fad.fa-burger-soda:after {
  content: "􏡘";
}

.fad.fa-burn:after {
  content: "􏑪";
}

.fad.fa-burrito:after {
  content: "􏟭";
}

.fad.fa-bus:after {
  content: "􏈇";
}

.fad.fa-bus-alt:after {
  content: "􏕞";
}

.fad.fa-bus-school:after {
  content: "􏗝";
}

.fad.fa-business-time:after {
  content: "􏙊";
}

.fad.fa-cabinet-filing:after {
  content: "􏙋";
}

.fad.fa-cactus:after {
  content: "􏢧";
}

.fad.fa-calculator:after {
  content: "􏇬";
}

.fad.fa-calculator-alt:after {
  content: "􏙌";
}

.fad.fa-calendar:after {
  content: "􏄳";
}

.fad.fa-calendar-alt:after {
  content: "􏁳";
}

.fad.fa-calendar-check:after {
  content: "􏉴";
}

.fad.fa-calendar-day:after {
  content: "􏞃";
}

.fad.fa-calendar-edit:after {
  content: "􏌳";
}

.fad.fa-calendar-exclamation:after {
  content: "􏌴";
}

.fad.fa-calendar-minus:after {
  content: "􏉲";
}

.fad.fa-calendar-plus:after {
  content: "􏉱";
}

.fad.fa-calendar-star:after {
  content: "􏜶";
}

.fad.fa-calendar-times:after {
  content: "􏉳";
}

.fad.fa-calendar-week:after {
  content: "􏞄";
}

.fad.fa-camcorder:after {
  content: "􏢨";
}

.fad.fa-camera:after {
  content: "􏀰";
}

.fad.fa-camera-alt:after {
  content: "􏌲";
}

.fad.fa-camera-home:after {
  content: "􏣾";
}

.fad.fa-camera-movie:after {
  content: "􏢩";
}

.fad.fa-camera-polaroid:after {
  content: "􏢪";
}

.fad.fa-camera-retro:after {
  content: "􏂃";
}

.fad.fa-campfire:after {
  content: "􏚺";
}

.fad.fa-campground:after {
  content: "􏚻";
}

.fad.fa-candle-holder:after {
  content: "􏚼";
}

.fad.fa-candy-cane:after {
  content: "􏞆";
}

.fad.fa-candy-corn:after {
  content: "􏚽";
}

.fad.fa-cannabis:after {
  content: "􏕟";
}

.fad.fa-capsules:after {
  content: "􏑫";
}

.fad.fa-car:after {
  content: "􏆹";
}

.fad.fa-car-alt:after {
  content: "􏗞";
}

.fad.fa-car-battery:after {
  content: "􏗟";
}

.fad.fa-car-building:after {
  content: "􏡙";
}

.fad.fa-car-bump:after {
  content: "􏗠";
}

.fad.fa-car-bus:after {
  content: "􏡚";
}

.fad.fa-car-crash:after {
  content: "􏗡";
}

.fad.fa-car-garage:after {
  content: "􏗢";
}

.fad.fa-car-mechanic:after {
  content: "􏗣";
}

.fad.fa-car-side:after {
  content: "􏗤";
}

.fad.fa-car-tilt:after {
  content: "􏗥";
}

.fad.fa-car-wash:after {
  content: "􏗦";
}

.fad.fa-caravan:after {
  content: "􏣿";
}

.fad.fa-caravan-alt:after {
  content: "􎀀";
}

.fad.fa-caret-circle-down:after {
  content: "􏌭";
}

.fad.fa-caret-circle-left:after {
  content: "􏌮";
}

.fad.fa-caret-circle-right:after {
  content: "􏌰";
}

.fad.fa-caret-circle-up:after {
  content: "􏌱";
}

.fad.fa-caret-down:after {
  content: "􏃗";
}

.fad.fa-caret-left:after {
  content: "􏃙";
}

.fad.fa-caret-right:after {
  content: "􏃚";
}

.fad.fa-caret-square-down:after {
  content: "􏅐";
}

.fad.fa-caret-square-left:after {
  content: "􏆑";
}

.fad.fa-caret-square-right:after {
  content: "􏅒";
}

.fad.fa-caret-square-up:after {
  content: "􏅑";
}

.fad.fa-caret-up:after {
  content: "􏃘";
}

.fad.fa-carrot:after {
  content: "􏞇";
}

.fad.fa-cars:after {
  content: "􏡛";
}

.fad.fa-cart-arrow-down:after {
  content: "􏈘";
}

.fad.fa-cart-plus:after {
  content: "􏈗";
}

.fad.fa-cash-register:after {
  content: "􏞈";
}

.fad.fa-cassette-tape:after {
  content: "􏢫";
}

.fad.fa-cat:after {
  content: "􏚾";
}

.fad.fa-cat-space:after {
  content: "􎀁";
}

.fad.fa-cauldron:after {
  content: "􏚿";
}

.fad.fa-cctv:after {
  content: "􏢬";
}

.fad.fa-certificate:after {
  content: "􏂣";
}

.fad.fa-chair:after {
  content: "􏛀";
}

.fad.fa-chair-office:after {
  content: "􏛁";
}

.fad.fa-chalkboard:after {
  content: "􏔛";
}

.fad.fa-chalkboard-teacher:after {
  content: "􏔜";
}

.fad.fa-charging-station:after {
  content: "􏗧";
}

.fad.fa-chart-area:after {
  content: "􏇾";
}

.fad.fa-chart-bar:after {
  content: "􏂀";
}

.fad.fa-chart-line:after {
  content: "􏈁";
}

.fad.fa-chart-line-down:after {
  content: "􏙍";
}

.fad.fa-chart-network:after {
  content: "􏞊";
}

.fad.fa-chart-pie:after {
  content: "􏈀";
}

.fad.fa-chart-pie-alt:after {
  content: "􏙎";
}

.fad.fa-chart-scatter:after {
  content: "􏟮";
}

.fad.fa-check:after {
  content: "􏀌";
}

.fad.fa-check-circle:after {
  content: "􏁘";
}

.fad.fa-check-double:after {
  content: "􏕠";
}

.fad.fa-check-square:after {
  content: "􏅊";
}

.fad.fa-cheese:after {
  content: "􏟯";
}

.fad.fa-cheese-swiss:after {
  content: "􏟰";
}

.fad.fa-cheeseburger:after {
  content: "􏟱";
}

.fad.fa-chess:after {
  content: "􏐹";
}

.fad.fa-chess-bishop:after {
  content: "􏐺";
}

.fad.fa-chess-bishop-alt:after {
  content: "􏐻";
}

.fad.fa-chess-board:after {
  content: "􏐼";
}

.fad.fa-chess-clock:after {
  content: "􏐽";
}

.fad.fa-chess-clock-alt:after {
  content: "􏐾";
}

.fad.fa-chess-king:after {
  content: "􏐿";
}

.fad.fa-chess-king-alt:after {
  content: "􏑀";
}

.fad.fa-chess-knight:after {
  content: "􏑁";
}

.fad.fa-chess-knight-alt:after {
  content: "􏑂";
}

.fad.fa-chess-pawn:after {
  content: "􏑃";
}

.fad.fa-chess-pawn-alt:after {
  content: "􏑄";
}

.fad.fa-chess-queen:after {
  content: "􏑅";
}

.fad.fa-chess-queen-alt:after {
  content: "􏑆";
}

.fad.fa-chess-rook:after {
  content: "􏑇";
}

.fad.fa-chess-rook-alt:after {
  content: "􏑈";
}

.fad.fa-chevron-circle-down:after {
  content: "􏄺";
}

.fad.fa-chevron-circle-left:after {
  content: "􏄷";
}

.fad.fa-chevron-circle-right:after {
  content: "􏄸";
}

.fad.fa-chevron-circle-up:after {
  content: "􏄹";
}

.fad.fa-chevron-double-down:after {
  content: "􏌢";
}

.fad.fa-chevron-double-left:after {
  content: "􏌣";
}

.fad.fa-chevron-double-right:after {
  content: "􏌤";
}

.fad.fa-chevron-double-up:after {
  content: "􏌥";
}

.fad.fa-chevron-down:after {
  content: "􏁸";
}

.fad.fa-chevron-left:after {
  content: "􏁓";
}

.fad.fa-chevron-right:after {
  content: "􏁔";
}

.fad.fa-chevron-square-down:after {
  content: "􏌩";
}

.fad.fa-chevron-square-left:after {
  content: "􏌪";
}

.fad.fa-chevron-square-right:after {
  content: "􏌫";
}

.fad.fa-chevron-square-up:after {
  content: "􏌬";
}

.fad.fa-chevron-up:after {
  content: "􏁷";
}

.fad.fa-child:after {
  content: "􏆮";
}

.fad.fa-chimney:after {
  content: "􏞋";
}

.fad.fa-church:after {
  content: "􏔝";
}

.fad.fa-circle:after {
  content: "􏄑";
}

.fad.fa-circle-notch:after {
  content: "􏇎";
}

.fad.fa-city:after {
  content: "􏙏";
}

.fad.fa-clarinet:after {
  content: "􏢭";
}

.fad.fa-claw-marks:after {
  content: "􏛂";
}

.fad.fa-clinic-medical:after {
  content: "􏟲";
}

.fad.fa-clipboard:after {
  content: "􏌨";
}

.fad.fa-clipboard-check:after {
  content: "􏑬";
}

.fad.fa-clipboard-list:after {
  content: "􏑭";
}

.fad.fa-clipboard-list-check:after {
  content: "􏜷";
}

.fad.fa-clipboard-prescription:after {
  content: "􏗨";
}

.fad.fa-clipboard-user:after {
  content: "􏟳";
}

.fad.fa-clock:after {
  content: "􏀗";
}

.fad.fa-clone:after {
  content: "􏉍";
}

.fad.fa-closed-captioning:after {
  content: "􏈊";
}

.fad.fa-cloud:after {
  content: "􏃂";
}

.fad.fa-cloud-download:after {
  content: "􏃭";
}

.fad.fa-cloud-download-alt:after {
  content: "􏎁";
}

.fad.fa-cloud-drizzle:after {
  content: "􏜸";
}

.fad.fa-cloud-hail:after {
  content: "􏜹";
}

.fad.fa-cloud-hail-mixed:after {
  content: "􏜺";
}

.fad.fa-cloud-meatball:after {
  content: "􏜻";
}

.fad.fa-cloud-moon:after {
  content: "􏛃";
}

.fad.fa-cloud-moon-rain:after {
  content: "􏜼";
}

.fad.fa-cloud-music:after {
  content: "􏢮";
}

.fad.fa-cloud-rain:after {
  content: "􏜽";
}

.fad.fa-cloud-rainbow:after {
  content: "􏜾";
}

.fad.fa-cloud-showers:after {
  content: "􏜿";
}

.fad.fa-cloud-showers-heavy:after {
  content: "􏝀";
}

.fad.fa-cloud-sleet:after {
  content: "􏝁";
}

.fad.fa-cloud-snow:after {
  content: "􏝂";
}

.fad.fa-cloud-sun:after {
  content: "􏛄";
}

.fad.fa-cloud-sun-rain:after {
  content: "􏝃";
}

.fad.fa-cloud-upload:after {
  content: "􏃮";
}

.fad.fa-cloud-upload-alt:after {
  content: "􏎂";
}

.fad.fa-clouds:after {
  content: "􏝄";
}

.fad.fa-clouds-moon:after {
  content: "􏝅";
}

.fad.fa-clouds-sun:after {
  content: "􏝆";
}

.fad.fa-club:after {
  content: "􏌧";
}

.fad.fa-cocktail:after {
  content: "􏕡";
}

.fad.fa-code:after {
  content: "􏄡";
}

.fad.fa-code-branch:after {
  content: "􏄦";
}

.fad.fa-code-commit:after {
  content: "􏎆";
}

.fad.fa-code-merge:after {
  content: "􏎇";
}

.fad.fa-coffee:after {
  content: "􏃴";
}

.fad.fa-coffee-pot:after {
  content: "􎀂";
}

.fad.fa-coffee-togo:after {
  content: "􏛅";
}

.fad.fa-coffin:after {
  content: "􏛆";
}

.fad.fa-coffin-cross:after {
  content: "􎁑";
}

.fad.fa-cog:after {
  content: "􏀓";
}

.fad.fa-cogs:after {
  content: "􏂅";
}

.fad.fa-coin:after {
  content: "􏡜";
}

.fad.fa-coins:after {
  content: "􏔞";
}

.fad.fa-columns:after {
  content: "􏃛";
}

.fad.fa-comet:after {
  content: "􎀃";
}

.fad.fa-comment:after {
  content: "􏁵";
}

.fad.fa-comment-alt:after {
  content: "􏉺";
}

.fad.fa-comment-alt-check:after {
  content: "􏒢";
}

.fad.fa-comment-alt-dollar:after {
  content: "􏙐";
}

.fad.fa-comment-alt-dots:after {
  content: "􏒣";
}

.fad.fa-comment-alt-edit:after {
  content: "􏒤";
}

.fad.fa-comment-alt-exclamation:after {
  content: "􏒥";
}

.fad.fa-comment-alt-lines:after {
  content: "􏒦";
}

.fad.fa-comment-alt-medical:after {
  content: "􏟴";
}

.fad.fa-comment-alt-minus:after {
  content: "􏒧";
}

.fad.fa-comment-alt-music:after {
  content: "􏢯";
}

.fad.fa-comment-alt-plus:after {
  content: "􏒨";
}

.fad.fa-comment-alt-slash:after {
  content: "􏒩";
}

.fad.fa-comment-alt-smile:after {
  content: "􏒪";
}

.fad.fa-comment-alt-times:after {
  content: "􏒫";
}

.fad.fa-comment-check:after {
  content: "􏒬";
}

.fad.fa-comment-dollar:after {
  content: "􏙑";
}

.fad.fa-comment-dots:after {
  content: "􏒭";
}

.fad.fa-comment-edit:after {
  content: "􏒮";
}

.fad.fa-comment-exclamation:after {
  content: "􏒯";
}

.fad.fa-comment-lines:after {
  content: "􏒰";
}

.fad.fa-comment-medical:after {
  content: "􏟵";
}

.fad.fa-comment-minus:after {
  content: "􏒱";
}

.fad.fa-comment-music:after {
  content: "􏢰";
}

.fad.fa-comment-plus:after {
  content: "􏒲";
}

.fad.fa-comment-slash:after {
  content: "􏒳";
}

.fad.fa-comment-smile:after {
  content: "􏒴";
}

.fad.fa-comment-times:after {
  content: "􏒵";
}

.fad.fa-comments:after {
  content: "􏂆";
}

.fad.fa-comments-alt:after {
  content: "􏒶";
}

.fad.fa-comments-alt-dollar:after {
  content: "􏙒";
}

.fad.fa-comments-dollar:after {
  content: "􏙓";
}

.fad.fa-compact-disc:after {
  content: "􏔟";
}

.fad.fa-compass:after {
  content: "􏅎";
}

.fad.fa-compass-slash:after {
  content: "􏗩";
}

.fad.fa-compress:after {
  content: "􏁦";
}

.fad.fa-compress-alt:after {
  content: "􏐢";
}

.fad.fa-compress-arrows-alt:after {
  content: "􏞌";
}

.fad.fa-compress-wide:after {
  content: "􏌦";
}

.fad.fa-computer-classic:after {
  content: "􏢱";
}

.fad.fa-computer-speaker:after {
  content: "􏢲";
}

.fad.fa-concierge-bell:after {
  content: "􏕢";
}

.fad.fa-construction:after {
  content: "􏡝";
}

.fad.fa-container-storage:after {
  content: "􏒷";
}

.fad.fa-conveyor-belt:after {
  content: "􏑮";
}

.fad.fa-conveyor-belt-alt:after {
  content: "􏑯";
}

.fad.fa-cookie:after {
  content: "􏕣";
}

.fad.fa-cookie-bite:after {
  content: "􏕤";
}

.fad.fa-copy:after {
  content: "􏃅";
}

.fad.fa-copyright:after {
  content: "􏇹";
}

.fad.fa-corn:after {
  content: "􏛇";
}

.fad.fa-couch:after {
  content: "􏒸";
}

.fad.fa-cow:after {
  content: "􏛈";
}

.fad.fa-cowbell:after {
  content: "􏢳";
}

.fad.fa-cowbell-more:after {
  content: "􏢴";
}

.fad.fa-credit-card:after {
  content: "􏂝";
}

.fad.fa-credit-card-blank:after {
  content: "􏎉";
}

.fad.fa-credit-card-front:after {
  content: "􏎊";
}

.fad.fa-cricket:after {
  content: "􏑉";
}

.fad.fa-croissant:after {
  content: "􏟶";
}

.fad.fa-crop:after {
  content: "􏄥";
}

.fad.fa-crop-alt:after {
  content: "􏕥";
}

.fad.fa-cross:after {
  content: "􏙔";
}

.fad.fa-crosshairs:after {
  content: "􏁛";
}

.fad.fa-crow:after {
  content: "􏔠";
}

.fad.fa-crown:after {
  content: "􏔡";
}

.fad.fa-crutch:after {
  content: "􏟷";
}

.fad.fa-crutches:after {
  content: "􏟸";
}

.fad.fa-cube:after {
  content: "􏆲";
}

.fad.fa-cubes:after {
  content: "􏆳";
}

.fad.fa-curling:after {
  content: "􏑊";
}

.fad.fa-cut:after {
  content: "􏃄";
}

.fad.fa-dagger:after {
  content: "􏛋";
}

.fad.fa-database:after {
  content: "􏇀";
}

.fad.fa-deaf:after {
  content: "􏊤";
}

.fad.fa-debug:after {
  content: "􏟹";
}

.fad.fa-deer:after {
  content: "􏞎";
}

.fad.fa-deer-rudolph:after {
  content: "􏞏";
}

.fad.fa-democrat:after {
  content: "􏝇";
}

.fad.fa-desktop:after {
  content: "􏄈";
}

.fad.fa-desktop-alt:after {
  content: "􏎐";
}

.fad.fa-dewpoint:after {
  content: "􏝈";
}

.fad.fa-dharmachakra:after {
  content: "􏙕";
}

.fad.fa-diagnoses:after {
  content: "􏑰";
}

.fad.fa-diamond:after {
  content: "􏈙";
}

.fad.fa-dice:after {
  content: "􏔢";
}

.fad.fa-dice-d10:after {
  content: "􏛍";
}

.fad.fa-dice-d12:after {
  content: "􏛎";
}

.fad.fa-dice-d20:after {
  content: "􏛏";
}

.fad.fa-dice-d4:after {
  content: "􏛐";
}

.fad.fa-dice-d6:after {
  content: "􏛑";
}

.fad.fa-dice-d8:after {
  content: "􏛒";
}

.fad.fa-dice-five:after {
  content: "􏔣";
}

.fad.fa-dice-four:after {
  content: "􏔤";
}

.fad.fa-dice-one:after {
  content: "􏔥";
}

.fad.fa-dice-six:after {
  content: "􏔦";
}

.fad.fa-dice-three:after {
  content: "􏔧";
}

.fad.fa-dice-two:after {
  content: "􏔨";
}

.fad.fa-digging:after {
  content: "􏡞";
}

.fad.fa-digital-tachograph:after {
  content: "􏕦";
}

.fad.fa-diploma:after {
  content: "􏗪";
}

.fad.fa-directions:after {
  content: "􏗫";
}

.fad.fa-disc-drive:after {
  content: "􏢵";
}

.fad.fa-disease:after {
  content: "􏟺";
}

.fad.fa-divide:after {
  content: "􏔩";
}

.fad.fa-dizzy:after {
  content: "􏕧";
}

.fad.fa-dna:after {
  content: "􏑱";
}

.fad.fa-do-not-enter:after {
  content: "􏗬";
}

.fad.fa-dog:after {
  content: "􏛓";
}

.fad.fa-dog-leashed:after {
  content: "􏛔";
}

.fad.fa-dollar-sign:after {
  content: "􏅕";
}

.fad.fa-dolly:after {
  content: "􏑲";
}

.fad.fa-dolly-empty:after {
  content: "􏑳";
}

.fad.fa-dolly-flatbed:after {
  content: "􏑴";
}

.fad.fa-dolly-flatbed-alt:after {
  content: "􏑵";
}

.fad.fa-dolly-flatbed-empty:after {
  content: "􏑶";
}

.fad.fa-donate:after {
  content: "􏒹";
}

.fad.fa-door-closed:after {
  content: "􏔪";
}

.fad.fa-door-open:after {
  content: "􏔫";
}

.fad.fa-dot-circle:after {
  content: "􏆒";
}

.fad.fa-dove:after {
  content: "􏒺";
}

.fad.fa-download:after {
  content: "􏀙";
}

.fad.fa-drafting-compass:after {
  content: "􏕨";
}

.fad.fa-dragon:after {
  content: "􏛕";
}

.fad.fa-draw-circle:after {
  content: "􏗭";
}

.fad.fa-draw-polygon:after {
  content: "􏗮";
}

.fad.fa-draw-square:after {
  content: "􏗯";
}

.fad.fa-dreidel:after {
  content: "􏞒";
}

.fad.fa-drone:after {
  content: "􏡟";
}

.fad.fa-drone-alt:after {
  content: "􏡠";
}

.fad.fa-drum:after {
  content: "􏕩";
}

.fad.fa-drum-steelpan:after {
  content: "􏕪";
}

.fad.fa-drumstick:after {
  content: "􏛖";
}

.fad.fa-drumstick-bite:after {
  content: "􏛗";
}

.fad.fa-dryer:after {
  content: "􏡡";
}

.fad.fa-dryer-alt:after {
  content: "􏡢";
}

.fad.fa-duck:after {
  content: "􏛘";
}

.fad.fa-dumbbell:after {
  content: "􏑋";
}

.fad.fa-dumpster:after {
  content: "􏞓";
}

.fad.fa-dumpster-fire:after {
  content: "􏞔";
}

.fad.fa-dungeon:after {
  content: "􏛙";
}

.fad.fa-ear:after {
  content: "􏗰";
}

.fad.fa-ear-muffs:after {
  content: "􏞕";
}

.fad.fa-eclipse:after {
  content: "􏝉";
}

.fad.fa-eclipse-alt:after {
  content: "􏝊";
}

.fad.fa-edit:after {
  content: "􏁄";
}

.fad.fa-egg:after {
  content: "􏟻";
}

.fad.fa-egg-fried:after {
  content: "􏟼";
}

.fad.fa-eject:after {
  content: "􏁒";
}

.fad.fa-elephant:after {
  content: "􏛚";
}

.fad.fa-ellipsis-h:after {
  content: "􏅁";
}

.fad.fa-ellipsis-h-alt:after {
  content: "􏎛";
}

.fad.fa-ellipsis-v:after {
  content: "􏅂";
}

.fad.fa-ellipsis-v-alt:after {
  content: "􏎜";
}

.fad.fa-empty-set:after {
  content: "􏙖";
}

.fad.fa-engine-warning:after {
  content: "􏗲";
}

.fad.fa-envelope:after {
  content: "􏃠";
}

.fad.fa-envelope-open:after {
  content: "􏊶";
}

.fad.fa-envelope-open-dollar:after {
  content: "􏙗";
}

.fad.fa-envelope-open-text:after {
  content: "􏙘";
}

.fad.fa-envelope-square:after {
  content: "􏆙";
}

.fad.fa-equals:after {
  content: "􏔬";
}

.fad.fa-eraser:after {
  content: "􏄭";
}

.fad.fa-ethernet:after {
  content: "􏞖";
}

.fad.fa-euro-sign:after {
  content: "􏅓";
}

.fad.fa-exchange:after {
  content: "􏃬";
}

.fad.fa-exchange-alt:after {
  content: "􏍢";
}

.fad.fa-exclamation:after {
  content: "􏄪";
}

.fad.fa-exclamation-circle:after {
  content: "􏁪";
}

.fad.fa-exclamation-square:after {
  content: "􏌡";
}

.fad.fa-exclamation-triangle:after {
  content: "􏁱";
}

.fad.fa-expand:after {
  content: "􏁥";
}

.fad.fa-expand-alt:after {
  content: "􏐤";
}

.fad.fa-expand-arrows:after {
  content: "􏌝";
}

.fad.fa-expand-arrows-alt:after {
  content: "􏌞";
}

.fad.fa-expand-wide:after {
  content: "􏌠";
}

.fad.fa-external-link:after {
  content: "􏂎";
}

.fad.fa-external-link-alt:after {
  content: "􏍝";
}

.fad.fa-external-link-square:after {
  content: "􏅌";
}

.fad.fa-external-link-square-alt:after {
  content: "􏍠";
}

.fad.fa-eye:after {
  content: "􏁮";
}

.fad.fa-eye-dropper:after {
  content: "􏇻";
}

.fad.fa-eye-evil:after {
  content: "􏛛";
}

.fad.fa-eye-slash:after {
  content: "􏁰";
}

.fad.fa-fan:after {
  content: "􏡣";
}

.fad.fa-fan-table:after {
  content: "􎀄";
}

.fad.fa-farm:after {
  content: "􏡤";
}

.fad.fa-fast-backward:after {
  content: "􏁉";
}

.fad.fa-fast-forward:after {
  content: "􏁐";
}

.fad.fa-faucet:after {
  content: "􎀅";
}

.fad.fa-faucet-drip:after {
  content: "􎀆";
}

.fad.fa-fax:after {
  content: "􏆬";
}

.fad.fa-feather:after {
  content: "􏔭";
}

.fad.fa-feather-alt:after {
  content: "􏕫";
}

.fad.fa-female:after {
  content: "􏆂";
}

.fad.fa-field-hockey:after {
  content: "􏑌";
}

.fad.fa-fighter-jet:after {
  content: "􏃻";
}

.fad.fa-file:after {
  content: "􏅛";
}

.fad.fa-file-alt:after {
  content: "􏅜";
}

.fad.fa-file-archive:after {
  content: "􏇆";
}

.fad.fa-file-audio:after {
  content: "􏇇";
}

.fad.fa-file-certificate:after {
  content: "􏗳";
}

.fad.fa-file-chart-line:after {
  content: "􏙙";
}

.fad.fa-file-chart-pie:after {
  content: "􏙚";
}

.fad.fa-file-check:after {
  content: "􏌖";
}

.fad.fa-file-code:after {
  content: "􏇉";
}

.fad.fa-file-contract:after {
  content: "􏕬";
}

.fad.fa-file-csv:after {
  content: "􏛝";
}

.fad.fa-file-download:after {
  content: "􏕭";
}

.fad.fa-file-edit:after {
  content: "􏌜";
}

.fad.fa-file-excel:after {
  content: "􏇃";
}

.fad.fa-file-exclamation:after {
  content: "􏌚";
}

.fad.fa-file-export:after {
  content: "􏕮";
}

.fad.fa-file-image:after {
  content: "􏇅";
}

.fad.fa-file-import:after {
  content: "􏕯";
}

.fad.fa-file-invoice:after {
  content: "􏕰";
}

.fad.fa-file-invoice-dollar:after {
  content: "􏕱";
}

.fad.fa-file-medical:after {
  content: "􏑷";
}

.fad.fa-file-medical-alt:after {
  content: "􏑸";
}

.fad.fa-file-minus:after {
  content: "􏌘";
}

.fad.fa-file-music:after {
  content: "􏢶";
}

.fad.fa-file-pdf:after {
  content: "􏇁";
}

.fad.fa-file-plus:after {
  content: "􏌙";
}

.fad.fa-file-powerpoint:after {
  content: "􏇄";
}

.fad.fa-file-prescription:after {
  content: "􏕲";
}

.fad.fa-file-search:after {
  content: "􏡥";
}

.fad.fa-file-signature:after {
  content: "􏕳";
}

.fad.fa-file-spreadsheet:after {
  content: "􏙛";
}

.fad.fa-file-times:after {
  content: "􏌗";
}

.fad.fa-file-upload:after {
  content: "􏕴";
}

.fad.fa-file-user:after {
  content: "􏙜";
}

.fad.fa-file-video:after {
  content: "􏇈";
}

.fad.fa-file-word:after {
  content: "􏇂";
}

.fad.fa-files-medical:after {
  content: "􏟽";
}

.fad.fa-fill:after {
  content: "􏕵";
}

.fad.fa-fill-drip:after {
  content: "􏕶";
}

.fad.fa-film:after {
  content: "􏀈";
}

.fad.fa-film-alt:after {
  content: "􏎠";
}

.fad.fa-film-canister:after {
  content: "􏢷";
}

.fad.fa-filter:after {
  content: "􏂰";
}

.fad.fa-fingerprint:after {
  content: "􏕷";
}

.fad.fa-fire:after {
  content: "􏁭";
}

.fad.fa-fire-alt:after {
  content: "􏟤";
}

.fad.fa-fire-extinguisher:after {
  content: "􏄴";
}

.fad.fa-fire-smoke:after {
  content: "􏝋";
}

.fad.fa-fireplace:after {
  content: "􏞚";
}

.fad.fa-first-aid:after {
  content: "􏑹";
}

.fad.fa-fish:after {
  content: "􏕸";
}

.fad.fa-fish-cooked:after {
  content: "􏟾";
}

.fad.fa-fist-raised:after {
  content: "􏛞";
}

.fad.fa-flag:after {
  content: "􏀤";
}

.fad.fa-flag-alt:after {
  content: "􏝌";
}

.fad.fa-flag-checkered:after {
  content: "􏄞";
}

.fad.fa-flag-usa:after {
  content: "􏝍";
}

.fad.fa-flame:after {
  content: "􏛟";
}

.fad.fa-flashlight:after {
  content: "􏢸";
}

.fad.fa-flask:after {
  content: "􏃃";
}

.fad.fa-flask-poison:after {
  content: "􏛠";
}

.fad.fa-flask-potion:after {
  content: "􏛡";
}

.fad.fa-flower:after {
  content: "􏟿";
}

.fad.fa-flower-daffodil:after {
  content: "􏠀";
}

.fad.fa-flower-tulip:after {
  content: "􏠁";
}

.fad.fa-flushed:after {
  content: "􏕹";
}

.fad.fa-flute:after {
  content: "􏢹";
}

.fad.fa-flux-capacitor:after {
  content: "􏢺";
}

.fad.fa-fog:after {
  content: "􏝎";
}

.fad.fa-folder:after {
  content: "􏁻";
}

.fad.fa-folder-download:after {
  content: "􎁓";
}

.fad.fa-folder-minus:after {
  content: "􏙝";
}

.fad.fa-folder-open:after {
  content: "􏁼";
}

.fad.fa-folder-plus:after {
  content: "􏙞";
}

.fad.fa-folder-times:after {
  content: "􏙟";
}

.fad.fa-folder-tree:after {
  content: "􏠂";
}

.fad.fa-folder-upload:after {
  content: "􎁔";
}

.fad.fa-folders:after {
  content: "􏙠";
}

.fad.fa-font:after {
  content: "􏀱";
}

.fad.fa-font-awesome-logo-full:after {
  content: "􏓦";
}

.fad.fa-font-case:after {
  content: "􏡦";
}

.fad.fa-football-ball:after {
  content: "􏑎";
}

.fad.fa-football-helmet:after {
  content: "􏑏";
}

.fad.fa-forklift:after {
  content: "􏑺";
}

.fad.fa-forward:after {
  content: "􏁎";
}

.fad.fa-fragile:after {
  content: "􏒻";
}

.fad.fa-french-fries:after {
  content: "􏠃";
}

.fad.fa-frog:after {
  content: "􏔮";
}

.fad.fa-frosty-head:after {
  content: "􏞛";
}

.fad.fa-frown:after {
  content: "􏄙";
}

.fad.fa-frown-open:after {
  content: "􏕺";
}

.fad.fa-function:after {
  content: "􏙡";
}

.fad.fa-funnel-dollar:after {
  content: "􏙢";
}

.fad.fa-futbol:after {
  content: "􏇣";
}

.fad.fa-galaxy:after {
  content: "􎀈";
}

.fad.fa-game-board:after {
  content: "􏡧";
}

.fad.fa-game-board-alt:after {
  content: "􏡨";
}

.fad.fa-game-console-handheld:after {
  content: "􏢻";
}

.fad.fa-gamepad:after {
  content: "􏄛";
}

.fad.fa-gamepad-alt:after {
  content: "􏢼";
}

.fad.fa-garage:after {
  content: "􎀉";
}

.fad.fa-garage-car:after {
  content: "􎀊";
}

.fad.fa-garage-open:after {
  content: "􎀋";
}

.fad.fa-gas-pump:after {
  content: "􏔯";
}

.fad.fa-gas-pump-slash:after {
  content: "􏗴";
}

.fad.fa-gavel:after {
  content: "􏃣";
}

.fad.fa-gem:after {
  content: "􏎥";
}

.fad.fa-genderless:after {
  content: "􏈭";
}

.fad.fa-ghost:after {
  content: "􏛢";
}

.fad.fa-gift:after {
  content: "􏁫";
}

.fad.fa-gift-card:after {
  content: "􏙣";
}

.fad.fa-gifts:after {
  content: "􏞜";
}

.fad.fa-gingerbread-man:after {
  content: "􏞝";
}

.fad.fa-glass:after {
  content: "􏠄";
}

.fad.fa-glass-champagne:after {
  content: "􏞞";
}

.fad.fa-glass-cheers:after {
  content: "􏞟";
}

.fad.fa-glass-citrus:after {
  content: "􏡩";
}

.fad.fa-glass-martini:after {
  content: "􏀀";
}

.fad.fa-glass-martini-alt:after {
  content: "􏕻";
}

.fad.fa-glass-whiskey:after {
  content: "􏞠";
}

.fad.fa-glass-whiskey-rocks:after {
  content: "􏞡";
}

.fad.fa-glasses:after {
  content: "􏔰";
}

.fad.fa-glasses-alt:after {
  content: "􏗵";
}

.fad.fa-globe:after {
  content: "􏂬";
}

.fad.fa-globe-africa:after {
  content: "􏕼";
}

.fad.fa-globe-americas:after {
  content: "􏕽";
}

.fad.fa-globe-asia:after {
  content: "􏕾";
}

.fad.fa-globe-europe:after {
  content: "􏞢";
}

.fad.fa-globe-snow:after {
  content: "􏞣";
}

.fad.fa-globe-stand:after {
  content: "􏗶";
}

.fad.fa-golf-ball:after {
  content: "􏑐";
}

.fad.fa-golf-club:after {
  content: "􏑑";
}

.fad.fa-gopuram:after {
  content: "􏙤";
}

.fad.fa-graduation-cap:after {
  content: "􏆝";
}

.fad.fa-gramophone:after {
  content: "􏢽";
}

.fad.fa-greater-than:after {
  content: "􏔱";
}

.fad.fa-greater-than-equal:after {
  content: "􏔲";
}

.fad.fa-grimace:after {
  content: "􏕿";
}

.fad.fa-grin:after {
  content: "􏖀";
}

.fad.fa-grin-alt:after {
  content: "􏖁";
}

.fad.fa-grin-beam:after {
  content: "􏖂";
}

.fad.fa-grin-beam-sweat:after {
  content: "􏖃";
}

.fad.fa-grin-hearts:after {
  content: "􏖄";
}

.fad.fa-grin-squint:after {
  content: "􏖅";
}

.fad.fa-grin-squint-tears:after {
  content: "􏖆";
}

.fad.fa-grin-stars:after {
  content: "􏖇";
}

.fad.fa-grin-tears:after {
  content: "􏖈";
}

.fad.fa-grin-tongue:after {
  content: "􏖉";
}

.fad.fa-grin-tongue-squint:after {
  content: "􏖊";
}

.fad.fa-grin-tongue-wink:after {
  content: "􏖋";
}

.fad.fa-grin-wink:after {
  content: "􏖌";
}

.fad.fa-grip-horizontal:after {
  content: "􏖍";
}

.fad.fa-grip-lines:after {
  content: "􏞤";
}

.fad.fa-grip-lines-vertical:after {
  content: "􏞥";
}

.fad.fa-grip-vertical:after {
  content: "􏖎";
}

.fad.fa-guitar:after {
  content: "􏞦";
}

.fad.fa-guitar-electric:after {
  content: "􏢾";
}

.fad.fa-guitars:after {
  content: "􏢿";
}

.fad.fa-h-square:after {
  content: "􏃽";
}

.fad.fa-h1:after {
  content: "􏌓";
}

.fad.fa-h2:after {
  content: "􏌔";
}

.fad.fa-h3:after {
  content: "􏌕";
}

.fad.fa-h4:after {
  content: "􏡪";
}

.fad.fa-hamburger:after {
  content: "􏠅";
}

.fad.fa-hammer:after {
  content: "􏛣";
}

.fad.fa-hammer-war:after {
  content: "􏛤";
}

.fad.fa-hamsa:after {
  content: "􏙥";
}

.fad.fa-hand-heart:after {
  content: "􏒼";
}

.fad.fa-hand-holding:after {
  content: "􏒽";
}

.fad.fa-hand-holding-box:after {
  content: "􏑻";
}

.fad.fa-hand-holding-heart:after {
  content: "􏒾";
}

.fad.fa-hand-holding-magic:after {
  content: "􏛥";
}

.fad.fa-hand-holding-medical:after {
  content: "􎁜";
}

.fad.fa-hand-holding-seedling:after {
  content: "􏒿";
}

.fad.fa-hand-holding-usd:after {
  content: "􏓀";
}

.fad.fa-hand-holding-water:after {
  content: "􏓁";
}

.fad.fa-hand-lizard:after {
  content: "􏉘";
}

.fad.fa-hand-middle-finger:after {
  content: "􏠆";
}

.fad.fa-hand-paper:after {
  content: "􏉖";
}

.fad.fa-hand-peace:after {
  content: "􏉛";
}

.fad.fa-hand-point-down:after {
  content: "􏂧";
}

.fad.fa-hand-point-left:after {
  content: "􏂥";
}

.fad.fa-hand-point-right:after {
  content: "􏂤";
}

.fad.fa-hand-point-up:after {
  content: "􏂦";
}

.fad.fa-hand-pointer:after {
  content: "􏉚";
}

.fad.fa-hand-receiving:after {
  content: "􏑼";
}

.fad.fa-hand-rock:after {
  content: "􏉕";
}

.fad.fa-hand-scissors:after {
  content: "􏉗";
}

.fad.fa-hand-sparkles:after {
  content: "􎁝";
}

.fad.fa-hand-spock:after {
  content: "􏉙";
}

.fad.fa-hands:after {
  content: "􏓂";
}

.fad.fa-hands-heart:after {
  content: "􏓃";
}

.fad.fa-hands-helping:after {
  content: "􏓄";
}

.fad.fa-hands-usd:after {
  content: "􏓅";
}

.fad.fa-hands-wash:after {
  content: "􎁞";
}

.fad.fa-handshake:after {
  content: "􏊵";
}

.fad.fa-handshake-alt:after {
  content: "􏓆";
}

.fad.fa-handshake-alt-slash:after {
  content: "􎁟";
}

.fad.fa-handshake-slash:after {
  content: "􎁠";
}

.fad.fa-hanukiah:after {
  content: "􏛦";
}

.fad.fa-hard-hat:after {
  content: "􏠇";
}

.fad.fa-hashtag:after {
  content: "􏊒";
}

.fad.fa-hat-chef:after {
  content: "􏡫";
}

.fad.fa-hat-cowboy:after {
  content: "􏣀";
}

.fad.fa-hat-cowboy-side:after {
  content: "􏣁";
}

.fad.fa-hat-santa:after {
  content: "􏞧";
}

.fad.fa-hat-winter:after {
  content: "􏞨";
}

.fad.fa-hat-witch:after {
  content: "􏛧";
}

.fad.fa-hat-wizard:after {
  content: "􏛨";
}

.fad.fa-hdd:after {
  content: "􏂠";
}

.fad.fa-head-side:after {
  content: "􏛩";
}

.fad.fa-head-side-brain:after {
  content: "􏠈";
}

.fad.fa-head-side-cough:after {
  content: "􎁡";
}

.fad.fa-head-side-cough-slash:after {
  content: "􎁢";
}

.fad.fa-head-side-headphones:after {
  content: "􏣂";
}

.fad.fa-head-side-mask:after {
  content: "􎁣";
}

.fad.fa-head-side-medical:after {
  content: "􏠉";
}

.fad.fa-head-side-virus:after {
  content: "􎁤";
}

.fad.fa-head-vr:after {
  content: "􏛪";
}

.fad.fa-heading:after {
  content: "􏇜";
}

.fad.fa-headphones:after {
  content: "􏀥";
}

.fad.fa-headphones-alt:after {
  content: "􏖏";
}

.fad.fa-headset:after {
  content: "􏖐";
}

.fad.fa-heart:after {
  content: "􏀄";
}

.fad.fa-heart-broken:after {
  content: "􏞩";
}

.fad.fa-heart-circle:after {
  content: "􏓇";
}

.fad.fa-heart-rate:after {
  content: "􏗸";
}

.fad.fa-heart-square:after {
  content: "􏓈";
}

.fad.fa-heartbeat:after {
  content: "􏈞";
}

.fad.fa-heat:after {
  content: "􎀌";
}

.fad.fa-helicopter:after {
  content: "􏔳";
}

.fad.fa-helmet-battle:after {
  content: "􏛫";
}

.fad.fa-hexagon:after {
  content: "􏌒";
}

.fad.fa-highlighter:after {
  content: "􏖑";
}

.fad.fa-hiking:after {
  content: "􏛬";
}

.fad.fa-hippo:after {
  content: "􏛭";
}

.fad.fa-history:after {
  content: "􏇚";
}

.fad.fa-hockey-mask:after {
  content: "􏛮";
}

.fad.fa-hockey-puck:after {
  content: "􏑓";
}

.fad.fa-hockey-sticks:after {
  content: "􏑔";
}

.fad.fa-holly-berry:after {
  content: "􏞪";
}

.fad.fa-home:after {
  content: "􏀕";
}

.fad.fa-home-alt:after {
  content: "􏠊";
}

.fad.fa-home-heart:after {
  content: "􏓉";
}

.fad.fa-home-lg:after {
  content: "􏠋";
}

.fad.fa-home-lg-alt:after {
  content: "􏠌";
}

.fad.fa-hood-cloak:after {
  content: "􏛯";
}

.fad.fa-horizontal-rule:after {
  content: "􏡬";
}

.fad.fa-horse:after {
  content: "􏛰";
}

.fad.fa-horse-head:after {
  content: "􏞫";
}

.fad.fa-horse-saddle:after {
  content: "􏣃";
}

.fad.fa-hospital:after {
  content: "􏃸";
}

.fad.fa-hospital-alt:after {
  content: "􏑽";
}

.fad.fa-hospital-symbol:after {
  content: "􏑾";
}

.fad.fa-hospital-user:after {
  content: "􏠍";
}

.fad.fa-hospitals:after {
  content: "􏠎";
}

.fad.fa-hot-tub:after {
  content: "􏖓";
}

.fad.fa-hotdog:after {
  content: "􏠏";
}

.fad.fa-hotel:after {
  content: "􏖔";
}

.fad.fa-hourglass:after {
  content: "􏉔";
}

.fad.fa-hourglass-end:after {
  content: "􏉓";
}

.fad.fa-hourglass-half:after {
  content: "􏉒";
}

.fad.fa-hourglass-start:after {
  content: "􏉑";
}

.fad.fa-house:after {
  content: "􎀍";
}

.fad.fa-house-damage:after {
  content: "􏛱";
}

.fad.fa-house-day:after {
  content: "􎀎";
}

.fad.fa-house-flood:after {
  content: "􏝏";
}

.fad.fa-house-leave:after {
  content: "􎀏";
}

.fad.fa-house-night:after {
  content: "􎀐";
}

.fad.fa-house-return:after {
  content: "􎀑";
}

.fad.fa-house-signal:after {
  content: "􎀒";
}

.fad.fa-house-user:after {
  content: "􎁥";
}

.fad.fa-hryvnia:after {
  content: "􏛲";
}

.fad.fa-humidity:after {
  content: "􏝐";
}

.fad.fa-hurricane:after {
  content: "􏝑";
}

.fad.fa-i-cursor:after {
  content: "􏉆";
}

.fad.fa-ice-cream:after {
  content: "􏠐";
}

.fad.fa-ice-skate:after {
  content: "􏞬";
}

.fad.fa-icicles:after {
  content: "􏞭";
}

.fad.fa-icons:after {
  content: "􏡭";
}

.fad.fa-icons-alt:after {
  content: "􏡮";
}

.fad.fa-id-badge:after {
  content: "􏋁";
}

.fad.fa-id-card:after {
  content: "􏋂";
}

.fad.fa-id-card-alt:after {
  content: "􏑿";
}

.fad.fa-igloo:after {
  content: "􏞮";
}

.fad.fa-image:after {
  content: "􏀾";
}

.fad.fa-image-polaroid:after {
  content: "􏣄";
}

.fad.fa-images:after {
  content: "􏌂";
}

.fad.fa-inbox:after {
  content: "􏀜";
}

.fad.fa-inbox-in:after {
  content: "􏌐";
}

.fad.fa-inbox-out:after {
  content: "􏌑";
}

.fad.fa-indent:after {
  content: "􏀼";
}

.fad.fa-industry:after {
  content: "􏉵";
}

.fad.fa-industry-alt:after {
  content: "􏎳";
}

.fad.fa-infinity:after {
  content: "􏔴";
}

.fad.fa-info:after {
  content: "􏄩";
}

.fad.fa-info-circle:after {
  content: "􏁚";
}

.fad.fa-info-square:after {
  content: "􏌏";
}

.fad.fa-inhaler:after {
  content: "􏗹";
}

.fad.fa-integral:after {
  content: "􏙧";
}

.fad.fa-intersection:after {
  content: "􏙨";
}

.fad.fa-inventory:after {
  content: "􏒀";
}

.fad.fa-island-tropical:after {
  content: "􏠑";
}

.fad.fa-italic:after {
  content: "􏀳";
}

.fad.fa-jack-o-lantern:after {
  content: "􏌎";
}

.fad.fa-jedi:after {
  content: "􏙩";
}

.fad.fa-joint:after {
  content: "􏖕";
}

.fad.fa-journal-whills:after {
  content: "􏙪";
}

.fad.fa-joystick:after {
  content: "􏣅";
}

.fad.fa-jug:after {
  content: "􏣆";
}

.fad.fa-kaaba:after {
  content: "􏙫";
}

.fad.fa-kazoo:after {
  content: "􏣇";
}

.fad.fa-kerning:after {
  content: "􏡯";
}

.fad.fa-key:after {
  content: "􏂄";
}

.fad.fa-key-skeleton:after {
  content: "􏛳";
}

.fad.fa-keyboard:after {
  content: "􏄜";
}

.fad.fa-keynote:after {
  content: "􏙬";
}

.fad.fa-khanda:after {
  content: "􏙭";
}

.fad.fa-kidneys:after {
  content: "􏗻";
}

.fad.fa-kiss:after {
  content: "􏖖";
}

.fad.fa-kiss-beam:after {
  content: "􏖗";
}

.fad.fa-kiss-wink-heart:after {
  content: "􏖘";
}

.fad.fa-kite:after {
  content: "􏛴";
}

.fad.fa-kiwi-bird:after {
  content: "􏔵";
}

.fad.fa-knife-kitchen:after {
  content: "􏛵";
}

.fad.fa-lambda:after {
  content: "􏙮";
}

.fad.fa-lamp:after {
  content: "􏓊";
}

.fad.fa-lamp-desk:after {
  content: "􎀔";
}

.fad.fa-lamp-floor:after {
  content: "􎀕";
}

.fad.fa-landmark:after {
  content: "􏙯";
}

.fad.fa-landmark-alt:after {
  content: "􏝒";
}

.fad.fa-language:after {
  content: "􏆫";
}

.fad.fa-laptop:after {
  content: "􏄉";
}

.fad.fa-laptop-code:after {
  content: "􏗼";
}

.fad.fa-laptop-house:after {
  content: "􎁦";
}

.fad.fa-laptop-medical:after {
  content: "􏠒";
}

.fad.fa-lasso:after {
  content: "􏣈";
}

.fad.fa-laugh:after {
  content: "􏖙";
}

.fad.fa-laugh-beam:after {
  content: "􏖚";
}

.fad.fa-laugh-squint:after {
  content: "􏖛";
}

.fad.fa-laugh-wink:after {
  content: "􏖜";
}

.fad.fa-layer-group:after {
  content: "􏗽";
}

.fad.fa-layer-minus:after {
  content: "􏗾";
}

.fad.fa-layer-plus:after {
  content: "􏗿";
}

.fad.fa-leaf:after {
  content: "􏁬";
}

.fad.fa-leaf-heart:after {
  content: "􏓋";
}

.fad.fa-leaf-maple:after {
  content: "􏛶";
}

.fad.fa-leaf-oak:after {
  content: "􏛷";
}

.fad.fa-lemon:after {
  content: "􏂔";
}

.fad.fa-less-than:after {
  content: "􏔶";
}

.fad.fa-less-than-equal:after {
  content: "􏔷";
}

.fad.fa-level-down:after {
  content: "􏅉";
}

.fad.fa-level-down-alt:after {
  content: "􏎾";
}

.fad.fa-level-up:after {
  content: "􏅈";
}

.fad.fa-level-up-alt:after {
  content: "􏎿";
}

.fad.fa-life-ring:after {
  content: "􏇍";
}

.fad.fa-light-ceiling:after {
  content: "􎀖";
}

.fad.fa-light-switch:after {
  content: "􎀗";
}

.fad.fa-light-switch-off:after {
  content: "􎀘";
}

.fad.fa-light-switch-on:after {
  content: "􎀙";
}

.fad.fa-lightbulb:after {
  content: "􏃫";
}

.fad.fa-lightbulb-dollar:after {
  content: "􏙰";
}

.fad.fa-lightbulb-exclamation:after {
  content: "􏙱";
}

.fad.fa-lightbulb-on:after {
  content: "􏙲";
}

.fad.fa-lightbulb-slash:after {
  content: "􏙳";
}

.fad.fa-lights-holiday:after {
  content: "􏞲";
}

.fad.fa-line-columns:after {
  content: "􏡰";
}

.fad.fa-line-height:after {
  content: "􏡱";
}

.fad.fa-link:after {
  content: "􏃁";
}

.fad.fa-lips:after {
  content: "􏘀";
}

.fad.fa-lira-sign:after {
  content: "􏆕";
}

.fad.fa-list:after {
  content: "􏀺";
}

.fad.fa-list-alt:after {
  content: "􏀢";
}

.fad.fa-list-music:after {
  content: "􏣉";
}

.fad.fa-list-ol:after {
  content: "􏃋";
}

.fad.fa-list-ul:after {
  content: "􏃊";
}

.fad.fa-location:after {
  content: "􏘁";
}

.fad.fa-location-arrow:after {
  content: "􏄤";
}

.fad.fa-location-circle:after {
  content: "􏘂";
}

.fad.fa-location-slash:after {
  content: "􏘃";
}

.fad.fa-lock:after {
  content: "􏀣";
}

.fad.fa-lock-alt:after {
  content: "􏌍";
}

.fad.fa-lock-open:after {
  content: "􏏁";
}

.fad.fa-lock-open-alt:after {
  content: "􏏂";
}

.fad.fa-long-arrow-alt-down:after {
  content: "􏌉";
}

.fad.fa-long-arrow-alt-left:after {
  content: "􏌊";
}

.fad.fa-long-arrow-alt-right:after {
  content: "􏌋";
}

.fad.fa-long-arrow-alt-up:after {
  content: "􏌌";
}

.fad.fa-long-arrow-down:after {
  content: "􏅵";
}

.fad.fa-long-arrow-left:after {
  content: "􏅷";
}

.fad.fa-long-arrow-right:after {
  content: "􏅸";
}

.fad.fa-long-arrow-up:after {
  content: "􏅶";
}

.fad.fa-loveseat:after {
  content: "􏓌";
}

.fad.fa-low-vision:after {
  content: "􏊨";
}

.fad.fa-luchador:after {
  content: "􏑕";
}

.fad.fa-luggage-cart:after {
  content: "􏖝";
}

.fad.fa-lungs:after {
  content: "􏘄";
}

.fad.fa-lungs-virus:after {
  content: "􎁧";
}

.fad.fa-mace:after {
  content: "􏛸";
}

.fad.fa-magic:after {
  content: "􏃐";
}

.fad.fa-magnet:after {
  content: "􏁶";
}

.fad.fa-mail-bulk:after {
  content: "􏙴";
}

.fad.fa-mailbox:after {
  content: "􏠓";
}

.fad.fa-male:after {
  content: "􏆃";
}

.fad.fa-mandolin:after {
  content: "􏛹";
}

.fad.fa-map:after {
  content: "􏉹";
}

.fad.fa-map-marked:after {
  content: "􏖟";
}

.fad.fa-map-marked-alt:after {
  content: "􏖠";
}

.fad.fa-map-marker:after {
  content: "􏁁";
}

.fad.fa-map-marker-alt:after {
  content: "􏏅";
}

.fad.fa-map-marker-alt-slash:after {
  content: "􏘅";
}

.fad.fa-map-marker-check:after {
  content: "􏘆";
}

.fad.fa-map-marker-edit:after {
  content: "􏘇";
}

.fad.fa-map-marker-exclamation:after {
  content: "􏘈";
}

.fad.fa-map-marker-minus:after {
  content: "􏘉";
}

.fad.fa-map-marker-plus:after {
  content: "􏘊";
}

.fad.fa-map-marker-question:after {
  content: "􏘋";
}

.fad.fa-map-marker-slash:after {
  content: "􏘌";
}

.fad.fa-map-marker-smile:after {
  content: "􏘍";
}

.fad.fa-map-marker-times:after {
  content: "􏘎";
}

.fad.fa-map-pin:after {
  content: "􏉶";
}

.fad.fa-map-signs:after {
  content: "􏉷";
}

.fad.fa-marker:after {
  content: "􏖡";
}

.fad.fa-mars:after {
  content: "􏈢";
}

.fad.fa-mars-double:after {
  content: "􏈧";
}

.fad.fa-mars-stroke:after {
  content: "􏈩";
}

.fad.fa-mars-stroke-h:after {
  content: "􏈫";
}

.fad.fa-mars-stroke-v:after {
  content: "􏈪";
}

.fad.fa-mask:after {
  content: "􏛺";
}

.fad.fa-meat:after {
  content: "􏠔";
}

.fad.fa-medal:after {
  content: "􏖢";
}

.fad.fa-medkit:after {
  content: "􏃺";
}

.fad.fa-megaphone:after {
  content: "􏙵";
}

.fad.fa-meh:after {
  content: "􏄚";
}

.fad.fa-meh-blank:after {
  content: "􏖤";
}

.fad.fa-meh-rolling-eyes:after {
  content: "􏖥";
}

.fad.fa-memory:after {
  content: "􏔸";
}

.fad.fa-menorah:after {
  content: "􏙶";
}

.fad.fa-mercury:after {
  content: "􏈣";
}

.fad.fa-meteor:after {
  content: "􏝓";
}

.fad.fa-microchip:after {
  content: "􏋛";
}

.fad.fa-microphone:after {
  content: "􏄰";
}

.fad.fa-microphone-alt:after {
  content: "􏏉";
}

.fad.fa-microphone-alt-slash:after {
  content: "􏔹";
}

.fad.fa-microphone-slash:after {
  content: "􏄱";
}

.fad.fa-microphone-stand:after {
  content: "􏣋";
}

.fad.fa-microscope:after {
  content: "􏘐";
}

.fad.fa-microwave:after {
  content: "􎀛";
}

.fad.fa-mind-share:after {
  content: "􏙷";
}

.fad.fa-minus:after {
  content: "􏁨";
}

.fad.fa-minus-circle:after {
  content: "􏁖";
}

.fad.fa-minus-hexagon:after {
  content: "􏌇";
}

.fad.fa-minus-octagon:after {
  content: "􏌈";
}

.fad.fa-minus-square:after {
  content: "􏅆";
}

.fad.fa-mistletoe:after {
  content: "􏞴";
}

.fad.fa-mitten:after {
  content: "􏞵";
}

.fad.fa-mobile:after {
  content: "􏄋";
}

.fad.fa-mobile-alt:after {
  content: "􏏍";
}

.fad.fa-mobile-android:after {
  content: "􏏎";
}

.fad.fa-mobile-android-alt:after {
  content: "􏏏";
}

.fad.fa-money-bill:after {
  content: "􏃖";
}

.fad.fa-money-bill-alt:after {
  content: "􏏑";
}

.fad.fa-money-bill-wave:after {
  content: "􏔺";
}

.fad.fa-money-bill-wave-alt:after {
  content: "􏔻";
}

.fad.fa-money-check:after {
  content: "􏔼";
}

.fad.fa-money-check-alt:after {
  content: "􏔽";
}

.fad.fa-money-check-edit:after {
  content: "􏡲";
}

.fad.fa-money-check-edit-alt:after {
  content: "􏡳";
}

.fad.fa-monitor-heart-rate:after {
  content: "􏘑";
}

.fad.fa-monkey:after {
  content: "􏛻";
}

.fad.fa-monument:after {
  content: "􏖦";
}

.fad.fa-moon:after {
  content: "􏆆";
}

.fad.fa-moon-cloud:after {
  content: "􏝔";
}

.fad.fa-moon-stars:after {
  content: "􏝕";
}

.fad.fa-mortar-pestle:after {
  content: "􏖧";
}

.fad.fa-mosque:after {
  content: "􏙸";
}

.fad.fa-motorcycle:after {
  content: "􏈜";
}

.fad.fa-mountain:after {
  content: "􏛼";
}

.fad.fa-mountains:after {
  content: "􏛽";
}

.fad.fa-mouse:after {
  content: "􏣌";
}

.fad.fa-mouse-alt:after {
  content: "􏣍";
}

.fad.fa-mouse-pointer:after {
  content: "􏉅";
}

.fad.fa-mp3-player:after {
  content: "􏣎";
}

.fad.fa-mug:after {
  content: "􏡴";
}

.fad.fa-mug-hot:after {
  content: "􏞶";
}

.fad.fa-mug-marshmallows:after {
  content: "􏞷";
}

.fad.fa-mug-tea:after {
  content: "􏡵";
}

.fad.fa-music:after {
  content: "􏀁";
}

.fad.fa-music-alt:after {
  content: "􏣏";
}

.fad.fa-music-alt-slash:after {
  content: "􏣐";
}

.fad.fa-music-slash:after {
  content: "􏣑";
}

.fad.fa-narwhal:after {
  content: "􏛾";
}

.fad.fa-network-wired:after {
  content: "􏛿";
}

.fad.fa-neuter:after {
  content: "􏈬";
}

.fad.fa-newspaper:after {
  content: "􏇪";
}

.fad.fa-not-equal:after {
  content: "􏔾";
}

.fad.fa-notes-medical:after {
  content: "􏒁";
}

.fad.fa-object-group:after {
  content: "􏉇";
}

.fad.fa-object-ungroup:after {
  content: "􏉈";
}

.fad.fa-octagon:after {
  content: "􏌆";
}

.fad.fa-oil-can:after {
  content: "􏘓";
}

.fad.fa-oil-temp:after {
  content: "􏘔";
}

.fad.fa-om:after {
  content: "􏙹";
}

.fad.fa-omega:after {
  content: "􏙺";
}

.fad.fa-ornament:after {
  content: "􏞸";
}

.fad.fa-otter:after {
  content: "􏜀";
}

.fad.fa-outdent:after {
  content: "􏀻";
}

.fad.fa-outlet:after {
  content: "􎀜";
}

.fad.fa-oven:after {
  content: "􎀝";
}

.fad.fa-overline:after {
  content: "􏡶";
}

.fad.fa-page-break:after {
  content: "􏡷";
}

.fad.fa-pager:after {
  content: "􏠕";
}

.fad.fa-paint-brush:after {
  content: "􏇼";
}

.fad.fa-paint-brush-alt:after {
  content: "􏖩";
}

.fad.fa-paint-roller:after {
  content: "􏖪";
}

.fad.fa-palette:after {
  content: "􏔿";
}

.fad.fa-pallet:after {
  content: "􏒂";
}

.fad.fa-pallet-alt:after {
  content: "􏒃";
}

.fad.fa-paper-plane:after {
  content: "􏇘";
}

.fad.fa-paperclip:after {
  content: "􏃆";
}

.fad.fa-parachute-box:after {
  content: "􏓍";
}

.fad.fa-paragraph:after {
  content: "􏇝";
}

.fad.fa-paragraph-rtl:after {
  content: "􏡸";
}

.fad.fa-parking:after {
  content: "􏕀";
}

.fad.fa-parking-circle:after {
  content: "􏘕";
}

.fad.fa-parking-circle-slash:after {
  content: "􏘖";
}

.fad.fa-parking-slash:after {
  content: "􏘗";
}

.fad.fa-passport:after {
  content: "􏖫";
}

.fad.fa-pastafarianism:after {
  content: "􏙻";
}

.fad.fa-paste:after {
  content: "􏃪";
}

.fad.fa-pause:after {
  content: "􏁌";
}

.fad.fa-pause-circle:after {
  content: "􏊋";
}

.fad.fa-paw:after {
  content: "􏆰";
}

.fad.fa-paw-alt:after {
  content: "􏜁";
}

.fad.fa-paw-claws:after {
  content: "􏜂";
}

.fad.fa-peace:after {
  content: "􏙼";
}

.fad.fa-pegasus:after {
  content: "􏜃";
}

.fad.fa-pen:after {
  content: "􏌄";
}

.fad.fa-pen-alt:after {
  content: "􏌅";
}

.fad.fa-pen-fancy:after {
  content: "􏖬";
}

.fad.fa-pen-nib:after {
  content: "􏖭";
}

.fad.fa-pen-square:after {
  content: "􏅋";
}

.fad.fa-pencil:after {
  content: "􏁀";
}

.fad.fa-pencil-alt:after {
  content: "􏌃";
}

.fad.fa-pencil-paintbrush:after {
  content: "􏘘";
}

.fad.fa-pencil-ruler:after {
  content: "􏖮";
}

.fad.fa-pennant:after {
  content: "􏑖";
}

.fad.fa-people-arrows:after {
  content: "􎁨";
}

.fad.fa-people-carry:after {
  content: "􏓎";
}

.fad.fa-pepper-hot:after {
  content: "􏠖";
}

.fad.fa-percent:after {
  content: "􏊕";
}

.fad.fa-percentage:after {
  content: "􏕁";
}

.fad.fa-person-booth:after {
  content: "􏝖";
}

.fad.fa-person-carry:after {
  content: "􏓏";
}

.fad.fa-person-dolly:after {
  content: "􏓐";
}

.fad.fa-person-dolly-empty:after {
  content: "􏓑";
}

.fad.fa-person-sign:after {
  content: "􏝗";
}

.fad.fa-phone:after {
  content: "􏂕";
}

.fad.fa-phone-alt:after {
  content: "􏡹";
}

.fad.fa-phone-laptop:after {
  content: "􏡺";
}

.fad.fa-phone-office:after {
  content: "􏙽";
}

.fad.fa-phone-plus:after {
  content: "􏓒";
}

.fad.fa-phone-rotary:after {
  content: "􏣓";
}

.fad.fa-phone-slash:after {
  content: "􏏝";
}

.fad.fa-phone-square:after {
  content: "􏂘";
}

.fad.fa-phone-square-alt:after {
  content: "􏡻";
}

.fad.fa-phone-volume:after {
  content: "􏊠";
}

.fad.fa-photo-video:after {
  content: "􏡼";
}

.fad.fa-pi:after {
  content: "􏙾";
}

.fad.fa-piano:after {
  content: "􏣔";
}

.fad.fa-piano-keyboard:after {
  content: "􏣕";
}

.fad.fa-pie:after {
  content: "􏜅";
}

.fad.fa-pig:after {
  content: "􏜆";
}

.fad.fa-piggy-bank:after {
  content: "􏓓";
}

.fad.fa-pills:after {
  content: "􏒄";
}

.fad.fa-pizza:after {
  content: "􏠗";
}

.fad.fa-pizza-slice:after {
  content: "􏠘";
}

.fad.fa-place-of-worship:after {
  content: "􏙿";
}

.fad.fa-plane:after {
  content: "􏁲";
}

.fad.fa-plane-alt:after {
  content: "􏏞";
}

.fad.fa-plane-arrival:after {
  content: "􏖯";
}

.fad.fa-plane-departure:after {
  content: "􏖰";
}

.fad.fa-plane-slash:after {
  content: "􎁩";
}

.fad.fa-planet-moon:after {
  content: "􎀟";
}

.fad.fa-planet-ringed:after {
  content: "􎀠";
}

.fad.fa-play:after {
  content: "􏁋";
}

.fad.fa-play-circle:after {
  content: "􏅄";
}

.fad.fa-plug:after {
  content: "􏇦";
}

.fad.fa-plus:after {
  content: "􏁧";
}

.fad.fa-plus-circle:after {
  content: "􏁕";
}

.fad.fa-plus-hexagon:after {
  content: "􏌀";
}

.fad.fa-plus-octagon:after {
  content: "􏌁";
}

.fad.fa-plus-square:after {
  content: "􏃾";
}

.fad.fa-podcast:after {
  content: "􏋎";
}

.fad.fa-podium:after {
  content: "􏚀";
}

.fad.fa-podium-star:after {
  content: "􏝘";
}

.fad.fa-police-box:after {
  content: "􎀡";
}

.fad.fa-poll:after {
  content: "􏚁";
}

.fad.fa-poll-h:after {
  content: "􏚂";
}

.fad.fa-poll-people:after {
  content: "􏝙";
}

.fad.fa-poo:after {
  content: "􏋾";
}

.fad.fa-poo-storm:after {
  content: "􏝚";
}

.fad.fa-poop:after {
  content: "􏘙";
}

.fad.fa-popcorn:after {
  content: "􏠙";
}

.fad.fa-portal-enter:after {
  content: "􎀢";
}

.fad.fa-portal-exit:after {
  content: "􎀣";
}

.fad.fa-portrait:after {
  content: "􏏠";
}

.fad.fa-pound-sign:after {
  content: "􏅔";
}

.fad.fa-power-off:after {
  content: "􏀑";
}

.fad.fa-pray:after {
  content: "􏚃";
}

.fad.fa-praying-hands:after {
  content: "􏚄";
}

.fad.fa-prescription:after {
  content: "􏖱";
}

.fad.fa-prescription-bottle:after {
  content: "􏒅";
}

.fad.fa-prescription-bottle-alt:after {
  content: "􏒆";
}

.fad.fa-presentation:after {
  content: "􏚅";
}

.fad.fa-print:after {
  content: "􏀯";
}

.fad.fa-print-search:after {
  content: "􏠚";
}

.fad.fa-print-slash:after {
  content: "􏚆";
}

.fad.fa-procedures:after {
  content: "􏒇";
}

.fad.fa-project-diagram:after {
  content: "􏕂";
}

.fad.fa-projector:after {
  content: "􏣖";
}

.fad.fa-pump-medical:after {
  content: "􎁪";
}

.fad.fa-pump-soap:after {
  content: "􎁫";
}

.fad.fa-pumpkin:after {
  content: "􏜇";
}

.fad.fa-puzzle-piece:after {
  content: "􏄮";
}

.fad.fa-qrcode:after {
  content: "􏀩";
}

.fad.fa-question:after {
  content: "􏄨";
}

.fad.fa-question-circle:after {
  content: "􏁙";
}

.fad.fa-question-square:after {
  content: "􏋽";
}

.fad.fa-quidditch:after {
  content: "􏑘";
}

.fad.fa-quote-left:after {
  content: "􏄍";
}

.fad.fa-quote-right:after {
  content: "􏄎";
}

.fad.fa-quran:after {
  content: "􏚇";
}

.fad.fa-rabbit:after {
  content: "􏜈";
}

.fad.fa-rabbit-fast:after {
  content: "􏜉";
}

.fad.fa-racquet:after {
  content: "􏑚";
}

.fad.fa-radar:after {
  content: "􎀤";
}

.fad.fa-radiation:after {
  content: "􏞹";
}

.fad.fa-radiation-alt:after {
  content: "􏞺";
}

.fad.fa-radio:after {
  content: "􏣗";
}

.fad.fa-radio-alt:after {
  content: "􏣘";
}

.fad.fa-rainbow:after {
  content: "􏝛";
}

.fad.fa-raindrops:after {
  content: "􏝜";
}

.fad.fa-ram:after {
  content: "􏜊";
}

.fad.fa-ramp-loading:after {
  content: "􏓔";
}

.fad.fa-random:after {
  content: "􏁴";
}

.fad.fa-raygun:after {
  content: "􎀥";
}

.fad.fa-receipt:after {
  content: "􏕃";
}

.fad.fa-record-vinyl:after {
  content: "􏣙";
}

.fad.fa-rectangle-landscape:after {
  content: "􏋺";
}

.fad.fa-rectangle-portrait:after {
  content: "􏋻";
}

.fad.fa-rectangle-wide:after {
  content: "􏋼";
}

.fad.fa-recycle:after {
  content: "􏆸";
}

.fad.fa-redo:after {
  content: "􏀞";
}

.fad.fa-redo-alt:after {
  content: "􏋹";
}

.fad.fa-refrigerator:after {
  content: "􎀦";
}

.fad.fa-registered:after {
  content: "􏉝";
}

.fad.fa-remove-format:after {
  content: "􏡽";
}

.fad.fa-repeat:after {
  content: "􏍣";
}

.fad.fa-repeat-1:after {
  content: "􏍥";
}

.fad.fa-repeat-1-alt:after {
  content: "􏍦";
}

.fad.fa-repeat-alt:after {
  content: "􏍤";
}

.fad.fa-reply:after {
  content: "􏏥";
}

.fad.fa-reply-all:after {
  content: "􏄢";
}

.fad.fa-republican:after {
  content: "􏝞";
}

.fad.fa-restroom:after {
  content: "􏞽";
}

.fad.fa-retweet:after {
  content: "􏁹";
}

.fad.fa-retweet-alt:after {
  content: "􏍡";
}

.fad.fa-ribbon:after {
  content: "􏓖";
}

.fad.fa-ring:after {
  content: "􏜋";
}

.fad.fa-rings-wedding:after {
  content: "􏠛";
}

.fad.fa-road:after {
  content: "􏀘";
}

.fad.fa-robot:after {
  content: "􏕄";
}

.fad.fa-rocket:after {
  content: "􏄵";
}

.fad.fa-rocket-launch:after {
  content: "􎀧";
}

.fad.fa-route:after {
  content: "􏓗";
}

.fad.fa-route-highway:after {
  content: "􏘚";
}

.fad.fa-route-interstate:after {
  content: "􏘛";
}

.fad.fa-router:after {
  content: "􏣚";
}

.fad.fa-rss:after {
  content: "􏂞";
}

.fad.fa-rss-square:after {
  content: "􏅃";
}

.fad.fa-ruble-sign:after {
  content: "􏅘";
}

.fad.fa-ruler:after {
  content: "􏕅";
}

.fad.fa-ruler-combined:after {
  content: "􏕆";
}

.fad.fa-ruler-horizontal:after {
  content: "􏕇";
}

.fad.fa-ruler-triangle:after {
  content: "􏘜";
}

.fad.fa-ruler-vertical:after {
  content: "􏕈";
}

.fad.fa-running:after {
  content: "􏜌";
}

.fad.fa-rupee-sign:after {
  content: "􏅖";
}

.fad.fa-rv:after {
  content: "􏞾";
}

.fad.fa-sack:after {
  content: "􏠜";
}

.fad.fa-sack-dollar:after {
  content: "􏠝";
}

.fad.fa-sad-cry:after {
  content: "􏖳";
}

.fad.fa-sad-tear:after {
  content: "􏖴";
}

.fad.fa-salad:after {
  content: "􏠞";
}

.fad.fa-sandwich:after {
  content: "􏠟";
}

.fad.fa-satellite:after {
  content: "􏞿";
}

.fad.fa-satellite-dish:after {
  content: "􏟀";
}

.fad.fa-sausage:after {
  content: "􏠠";
}

.fad.fa-save:after {
  content: "􏃇";
}

.fad.fa-sax-hot:after {
  content: "􏣛";
}

.fad.fa-saxophone:after {
  content: "􏣜";
}

.fad.fa-scalpel:after {
  content: "􏘝";
}

.fad.fa-scalpel-path:after {
  content: "􏘞";
}

.fad.fa-scanner:after {
  content: "􏒈";
}

.fad.fa-scanner-image:after {
  content: "􏣳";
}

.fad.fa-scanner-keyboard:after {
  content: "􏒉";
}

.fad.fa-scanner-touchscreen:after {
  content: "􏒊";
}

.fad.fa-scarecrow:after {
  content: "􏜍";
}

.fad.fa-scarf:after {
  content: "􏟁";
}

.fad.fa-school:after {
  content: "􏕉";
}

.fad.fa-screwdriver:after {
  content: "􏕊";
}

.fad.fa-scroll:after {
  content: "􏜎";
}

.fad.fa-scroll-old:after {
  content: "􏜏";
}

.fad.fa-scrubber:after {
  content: "􏋸";
}

.fad.fa-scythe:after {
  content: "􏜐";
}

.fad.fa-sd-card:after {
  content: "􏟂";
}

.fad.fa-search:after {
  content: "􏀂";
}

.fad.fa-search-dollar:after {
  content: "􏚈";
}

.fad.fa-search-location:after {
  content: "􏚉";
}

.fad.fa-search-minus:after {
  content: "􏀐";
}

.fad.fa-search-plus:after {
  content: "􏀎";
}

.fad.fa-seedling:after {
  content: "􏓘";
}

.fad.fa-send-back:after {
  content: "􏡾";
}

.fad.fa-send-backward:after {
  content: "􏡿";
}

.fad.fa-sensor:after {
  content: "􎀨";
}

.fad.fa-sensor-alert:after {
  content: "􎀩";
}

.fad.fa-sensor-fire:after {
  content: "􎀪";
}

.fad.fa-sensor-on:after {
  content: "􎀫";
}

.fad.fa-sensor-smoke:after {
  content: "􎀬";
}

.fad.fa-server:after {
  content: "􏈳";
}

.fad.fa-shapes:after {
  content: "􏘟";
}

.fad.fa-share:after {
  content: "􏁤";
}

.fad.fa-share-all:after {
  content: "􏍧";
}

.fad.fa-share-alt:after {
  content: "􏇠";
}

.fad.fa-share-alt-square:after {
  content: "􏇡";
}

.fad.fa-share-square:after {
  content: "􏅍";
}

.fad.fa-sheep:after {
  content: "􏜑";
}

.fad.fa-shekel-sign:after {
  content: "􏈋";
}

.fad.fa-shield:after {
  content: "􏄲";
}

.fad.fa-shield-alt:after {
  content: "􏏭";
}

.fad.fa-shield-check:after {
  content: "􏋷";
}

.fad.fa-shield-cross:after {
  content: "􏜒";
}

.fad.fa-shield-virus:after {
  content: "􎁬";
}

.fad.fa-ship:after {
  content: "􏈚";
}

.fad.fa-shipping-fast:after {
  content: "􏒋";
}

.fad.fa-shipping-timed:after {
  content: "􏒌";
}

.fad.fa-shish-kebab:after {
  content: "􏠡";
}

.fad.fa-shoe-prints:after {
  content: "􏕋";
}

.fad.fa-shopping-bag:after {
  content: "􏊐";
}

.fad.fa-shopping-basket:after {
  content: "􏊑";
}

.fad.fa-shopping-cart:after {
  content: "􏁺";
}

.fad.fa-shovel:after {
  content: "􏜓";
}

.fad.fa-shovel-snow:after {
  content: "􏟃";
}

.fad.fa-shower:after {
  content: "􏋌";
}

.fad.fa-shredder:after {
  content: "􏚊";
}

.fad.fa-shuttle-van:after {
  content: "􏖶";
}

.fad.fa-shuttlecock:after {
  content: "􏑛";
}

.fad.fa-sickle:after {
  content: "􏠢";
}

.fad.fa-sigma:after {
  content: "􏚋";
}

.fad.fa-sign:after {
  content: "􏓙";
}

.fad.fa-sign-in:after {
  content: "􏂐";
}

.fad.fa-sign-in-alt:after {
  content: "􏋶";
}

.fad.fa-sign-language:after {
  content: "􏊧";
}

.fad.fa-sign-out:after {
  content: "􏂋";
}

.fad.fa-sign-out-alt:after {
  content: "􏋵";
}

.fad.fa-signal:after {
  content: "􏀒";
}

.fad.fa-signal-1:after {
  content: "􏚌";
}

.fad.fa-signal-2:after {
  content: "􏚍";
}

.fad.fa-signal-3:after {
  content: "􏚎";
}

.fad.fa-signal-4:after {
  content: "􏚏";
}

.fad.fa-signal-alt:after {
  content: "􏚐";
}

.fad.fa-signal-alt-1:after {
  content: "􏚑";
}

.fad.fa-signal-alt-2:after {
  content: "􏚒";
}

.fad.fa-signal-alt-3:after {
  content: "􏚓";
}

.fad.fa-signal-alt-slash:after {
  content: "􏚔";
}

.fad.fa-signal-slash:after {
  content: "􏚕";
}

.fad.fa-signal-stream:after {
  content: "􏣝";
}

.fad.fa-signature:after {
  content: "􏖷";
}

.fad.fa-sim-card:after {
  content: "􏟄";
}

.fad.fa-sink:after {
  content: "􎁭";
}

.fad.fa-siren:after {
  content: "􎀭";
}

.fad.fa-siren-on:after {
  content: "􎀮";
}

.fad.fa-sitemap:after {
  content: "􏃨";
}

.fad.fa-skating:after {
  content: "􏟅";
}

.fad.fa-skeleton:after {
  content: "􏘠";
}

.fad.fa-ski-jump:after {
  content: "􏟇";
}

.fad.fa-ski-lift:after {
  content: "􏟈";
}

.fad.fa-skiing:after {
  content: "􏟉";
}

.fad.fa-skiing-nordic:after {
  content: "􏟊";
}

.fad.fa-skull:after {
  content: "􏕌";
}

.fad.fa-skull-cow:after {
  content: "􏣞";
}

.fad.fa-skull-crossbones:after {
  content: "􏜔";
}

.fad.fa-slash:after {
  content: "􏜕";
}

.fad.fa-sledding:after {
  content: "􏟋";
}

.fad.fa-sleigh:after {
  content: "􏟌";
}

.fad.fa-sliders-h:after {
  content: "􏇞";
}

.fad.fa-sliders-h-square:after {
  content: "􏏰";
}

.fad.fa-sliders-v:after {
  content: "􏏱";
}

.fad.fa-sliders-v-square:after {
  content: "􏏲";
}

.fad.fa-smile:after {
  content: "􏄘";
}

.fad.fa-smile-beam:after {
  content: "􏖸";
}

.fad.fa-smile-plus:after {
  content: "􏖹";
}

.fad.fa-smile-wink:after {
  content: "􏓚";
}

.fad.fa-smog:after {
  content: "􏝟";
}

.fad.fa-smoke:after {
  content: "􏝠";
}

.fad.fa-smoking:after {
  content: "􏒍";
}

.fad.fa-smoking-ban:after {
  content: "􏕍";
}

.fad.fa-sms:after {
  content: "􏟍";
}

.fad.fa-snake:after {
  content: "􏜖";
}

.fad.fa-snooze:after {
  content: "􏢀";
}

.fad.fa-snow-blowing:after {
  content: "􏝡";
}

.fad.fa-snowboarding:after {
  content: "􏟎";
}

.fad.fa-snowflake:after {
  content: "􏋜";
}

.fad.fa-snowflakes:after {
  content: "􏟏";
}

.fad.fa-snowman:after {
  content: "􏟐";
}

.fad.fa-snowmobile:after {
  content: "􏟑";
}

.fad.fa-snowplow:after {
  content: "􏟒";
}

.fad.fa-soap:after {
  content: "􎁮";
}

.fad.fa-socks:after {
  content: "􏚖";
}

.fad.fa-solar-panel:after {
  content: "􏖺";
}

.fad.fa-solar-system:after {
  content: "􎀯";
}

.fad.fa-sort:after {
  content: "􏃜";
}

.fad.fa-sort-alpha-down:after {
  content: "􏅝";
}

.fad.fa-sort-alpha-down-alt:after {
  content: "􏢁";
}

.fad.fa-sort-alpha-up:after {
  content: "􏅞";
}

.fad.fa-sort-alpha-up-alt:after {
  content: "􏢂";
}

.fad.fa-sort-alt:after {
  content: "􏢃";
}

.fad.fa-sort-amount-down:after {
  content: "􏅠";
}

.fad.fa-sort-amount-down-alt:after {
  content: "􏢄";
}

.fad.fa-sort-amount-up:after {
  content: "􏅡";
}

.fad.fa-sort-amount-up-alt:after {
  content: "􏢅";
}

.fad.fa-sort-circle:after {
  content: "􎀰";
}

.fad.fa-sort-circle-down:after {
  content: "􎀱";
}

.fad.fa-sort-circle-up:after {
  content: "􎀲";
}

.fad.fa-sort-down:after {
  content: "􏃝";
}

.fad.fa-sort-numeric-down:after {
  content: "􏅢";
}

.fad.fa-sort-numeric-down-alt:after {
  content: "􏢆";
}

.fad.fa-sort-numeric-up:after {
  content: "􏅣";
}

.fad.fa-sort-numeric-up-alt:after {
  content: "􏢇";
}

.fad.fa-sort-shapes-down:after {
  content: "􏢈";
}

.fad.fa-sort-shapes-down-alt:after {
  content: "􏢉";
}

.fad.fa-sort-shapes-up:after {
  content: "􏢊";
}

.fad.fa-sort-shapes-up-alt:after {
  content: "􏢋";
}

.fad.fa-sort-size-down:after {
  content: "􏢌";
}

.fad.fa-sort-size-down-alt:after {
  content: "􏢍";
}

.fad.fa-sort-size-up:after {
  content: "􏢎";
}

.fad.fa-sort-size-up-alt:after {
  content: "􏢏";
}

.fad.fa-sort-up:after {
  content: "􏃞";
}

.fad.fa-soup:after {
  content: "􏠣";
}

.fad.fa-spa:after {
  content: "􏖻";
}

.fad.fa-space-shuttle:after {
  content: "􏆗";
}

.fad.fa-space-station-moon:after {
  content: "􎀳";
}

.fad.fa-space-station-moon-alt:after {
  content: "􎀴";
}

.fad.fa-spade:after {
  content: "􏋴";
}

.fad.fa-sparkles:after {
  content: "􏢐";
}

.fad.fa-speaker:after {
  content: "􏣟";
}

.fad.fa-speakers:after {
  content: "􏣠";
}

.fad.fa-spell-check:after {
  content: "􏢑";
}

.fad.fa-spider:after {
  content: "􏜗";
}

.fad.fa-spider-black-widow:after {
  content: "􏜘";
}

.fad.fa-spider-web:after {
  content: "􏜙";
}

.fad.fa-spinner:after {
  content: "􏄐";
}

.fad.fa-spinner-third:after {
  content: "􏏴";
}

.fad.fa-splotch:after {
  content: "􏖼";
}

.fad.fa-spray-can:after {
  content: "􏖽";
}

.fad.fa-sprinkler:after {
  content: "􎀵";
}

.fad.fa-square:after {
  content: "􏃈";
}

.fad.fa-square-full:after {
  content: "􏑜";
}

.fad.fa-square-root:after {
  content: "􏚗";
}

.fad.fa-square-root-alt:after {
  content: "􏚘";
}

.fad.fa-squirrel:after {
  content: "􏜚";
}

.fad.fa-staff:after {
  content: "􏜛";
}

.fad.fa-stamp:after {
  content: "􏖿";
}

.fad.fa-star:after {
  content: "􏀅";
}

.fad.fa-star-and-crescent:after {
  content: "􏚙";
}

.fad.fa-star-christmas:after {
  content: "􏟔";
}

.fad.fa-star-exclamation:after {
  content: "􏋳";
}

.fad.fa-star-half:after {
  content: "􏂉";
}

.fad.fa-star-half-alt:after {
  content: "􏗀";
}

.fad.fa-star-of-david:after {
  content: "􏚚";
}

.fad.fa-star-of-life:after {
  content: "􏘡";
}

.fad.fa-star-shooting:after {
  content: "􎀶";
}

.fad.fa-starfighter:after {
  content: "􎀷";
}

.fad.fa-starfighter-alt:after {
  content: "􎀸";
}

.fad.fa-stars:after {
  content: "􏝢";
}

.fad.fa-starship:after {
  content: "􎀹";
}

.fad.fa-starship-freighter:after {
  content: "􎀺";
}

.fad.fa-steak:after {
  content: "􏠤";
}

.fad.fa-steering-wheel:after {
  content: "􏘢";
}

.fad.fa-step-backward:after {
  content: "􏁈";
}

.fad.fa-step-forward:after {
  content: "􏁑";
}

.fad.fa-stethoscope:after {
  content: "􏃱";
}

.fad.fa-sticky-note:after {
  content: "􏉉";
}

.fad.fa-stocking:after {
  content: "􏟕";
}

.fad.fa-stomach:after {
  content: "􏘣";
}

.fad.fa-stop:after {
  content: "􏁍";
}

.fad.fa-stop-circle:after {
  content: "􏊍";
}

.fad.fa-stopwatch:after {
  content: "􏋲";
}

.fad.fa-stopwatch-20:after {
  content: "􎁯";
}

.fad.fa-store:after {
  content: "􏕎";
}

.fad.fa-store-alt:after {
  content: "􏕏";
}

.fad.fa-store-alt-slash:after {
  content: "􎁰";
}

.fad.fa-store-slash:after {
  content: "􎁱";
}

.fad.fa-stream:after {
  content: "􏕐";
}

.fad.fa-street-view:after {
  content: "􏈝";
}

.fad.fa-stretcher:after {
  content: "􏠥";
}

.fad.fa-strikethrough:after {
  content: "􏃌";
}

.fad.fa-stroopwafel:after {
  content: "􏕑";
}

.fad.fa-subscript:after {
  content: "􏄬";
}

.fad.fa-subway:after {
  content: "􏈹";
}

.fad.fa-suitcase:after {
  content: "􏃲";
}

.fad.fa-suitcase-rolling:after {
  content: "􏗁";
}

.fad.fa-sun:after {
  content: "􏆅";
}

.fad.fa-sun-cloud:after {
  content: "􏝣";
}

.fad.fa-sun-dust:after {
  content: "􏝤";
}

.fad.fa-sun-haze:after {
  content: "􏝥";
}

.fad.fa-sunglasses:after {
  content: "􏢒";
}

.fad.fa-sunrise:after {
  content: "􏝦";
}

.fad.fa-sunset:after {
  content: "􏝧";
}

.fad.fa-superscript:after {
  content: "􏄫";
}

.fad.fa-surprise:after {
  content: "􏗂";
}

.fad.fa-swatchbook:after {
  content: "􏗃";
}

.fad.fa-swimmer:after {
  content: "􏗄";
}

.fad.fa-swimming-pool:after {
  content: "􏗅";
}

.fad.fa-sword:after {
  content: "􏜜";
}

.fad.fa-sword-laser:after {
  content: "􎀻";
}

.fad.fa-sword-laser-alt:after {
  content: "􎀼";
}

.fad.fa-swords:after {
  content: "􏜝";
}

.fad.fa-swords-laser:after {
  content: "􎀽";
}

.fad.fa-synagogue:after {
  content: "􏚛";
}

.fad.fa-sync:after {
  content: "􏀡";
}

.fad.fa-sync-alt:after {
  content: "􏋱";
}

.fad.fa-syringe:after {
  content: "􏒎";
}

.fad.fa-table:after {
  content: "􏃎";
}

.fad.fa-table-tennis:after {
  content: "􏑝";
}

.fad.fa-tablet:after {
  content: "􏄊";
}

.fad.fa-tablet-alt:after {
  content: "􏏺";
}

.fad.fa-tablet-android:after {
  content: "􏏻";
}

.fad.fa-tablet-android-alt:after {
  content: "􏏼";
}

.fad.fa-tablet-rugged:after {
  content: "􏒏";
}

.fad.fa-tablets:after {
  content: "􏒐";
}

.fad.fa-tachometer:after {
  content: "􏃤";
}

.fad.fa-tachometer-alt:after {
  content: "􏏽";
}

.fad.fa-tachometer-alt-average:after {
  content: "􏘤";
}

.fad.fa-tachometer-alt-fast:after {
  content: "􏘥";
}

.fad.fa-tachometer-alt-fastest:after {
  content: "􏘦";
}

.fad.fa-tachometer-alt-slow:after {
  content: "􏘧";
}

.fad.fa-tachometer-alt-slowest:after {
  content: "􏘨";
}

.fad.fa-tachometer-average:after {
  content: "􏘩";
}

.fad.fa-tachometer-fast:after {
  content: "􏘪";
}

.fad.fa-tachometer-fastest:after {
  content: "􏘫";
}

.fad.fa-tachometer-slow:after {
  content: "􏘬";
}

.fad.fa-tachometer-slowest:after {
  content: "􏘭";
}

.fad.fa-taco:after {
  content: "􏠦";
}

.fad.fa-tag:after {
  content: "􏀫";
}

.fad.fa-tags:after {
  content: "􏀬";
}

.fad.fa-tally:after {
  content: "􏚜";
}

.fad.fa-tanakh:after {
  content: "􏠧";
}

.fad.fa-tape:after {
  content: "􏓛";
}

.fad.fa-tasks:after {
  content: "􏂮";
}

.fad.fa-tasks-alt:after {
  content: "􏠨";
}

.fad.fa-taxi:after {
  content: "􏆺";
}

.fad.fa-teeth:after {
  content: "􏘮";
}

.fad.fa-teeth-open:after {
  content: "􏘯";
}

.fad.fa-telescope:after {
  content: "􎀾";
}

.fad.fa-temperature-down:after {
  content: "􎀿";
}

.fad.fa-temperature-frigid:after {
  content: "􏝨";
}

.fad.fa-temperature-high:after {
  content: "􏝩";
}

.fad.fa-temperature-hot:after {
  content: "􏝪";
}

.fad.fa-temperature-low:after {
  content: "􏝫";
}

.fad.fa-temperature-up:after {
  content: "􎁀";
}

.fad.fa-tenge:after {
  content: "􏟗";
}

.fad.fa-tennis-ball:after {
  content: "􏑞";
}

.fad.fa-terminal:after {
  content: "􏄠";
}

.fad.fa-text:after {
  content: "􏢓";
}

.fad.fa-text-height:after {
  content: "􏀴";
}

.fad.fa-text-size:after {
  content: "􏢔";
}

.fad.fa-text-width:after {
  content: "􏀵";
}

.fad.fa-th:after {
  content: "􏀊";
}

.fad.fa-th-large:after {
  content: "􏀉";
}

.fad.fa-th-list:after {
  content: "􏀋";
}

.fad.fa-theater-masks:after {
  content: "􏘰";
}

.fad.fa-thermometer:after {
  content: "􏒑";
}

.fad.fa-thermometer-empty:after {
  content: "􏋋";
}

.fad.fa-thermometer-full:after {
  content: "􏋇";
}

.fad.fa-thermometer-half:after {
  content: "􏋉";
}

.fad.fa-thermometer-quarter:after {
  content: "􏋊";
}

.fad.fa-thermometer-three-quarters:after {
  content: "􏋈";
}

.fad.fa-theta:after {
  content: "􏚞";
}

.fad.fa-thumbs-down:after {
  content: "􏅥";
}

.fad.fa-thumbs-up:after {
  content: "􏅤";
}

.fad.fa-thumbtack:after {
  content: "􏂍";
}

.fad.fa-thunderstorm:after {
  content: "􏝬";
}

.fad.fa-thunderstorm-moon:after {
  content: "􏝭";
}

.fad.fa-thunderstorm-sun:after {
  content: "􏝮";
}

.fad.fa-ticket:after {
  content: "􏅅";
}

.fad.fa-ticket-alt:after {
  content: "􏏿";
}

.fad.fa-tilde:after {
  content: "􏚟";
}

.fad.fa-times:after {
  content: "􏀍";
}

.fad.fa-times-circle:after {
  content: "􏁗";
}

.fad.fa-times-hexagon:after {
  content: "􏋮";
}

.fad.fa-times-octagon:after {
  content: "􏋰";
}

.fad.fa-times-square:after {
  content: "􏋓";
}

.fad.fa-tint:after {
  content: "􏁃";
}

.fad.fa-tint-slash:after {
  content: "􏗇";
}

.fad.fa-tire:after {
  content: "􏘱";
}

.fad.fa-tire-flat:after {
  content: "􏘲";
}

.fad.fa-tire-pressure-warning:after {
  content: "􏘳";
}

.fad.fa-tire-rugged:after {
  content: "􏘴";
}

.fad.fa-tired:after {
  content: "􏗈";
}

.fad.fa-toggle-off:after {
  content: "􏈄";
}

.fad.fa-toggle-on:after {
  content: "􏈅";
}

.fad.fa-toilet:after {
  content: "􏟘";
}

.fad.fa-toilet-paper:after {
  content: "􏜞";
}

.fad.fa-toilet-paper-alt:after {
  content: "􏜟";
}

.fad.fa-toilet-paper-slash:after {
  content: "􎁲";
}

.fad.fa-tombstone:after {
  content: "􏜠";
}

.fad.fa-tombstone-alt:after {
  content: "􏜡";
}

.fad.fa-toolbox:after {
  content: "􏕒";
}

.fad.fa-tools:after {
  content: "􏟙";
}

.fad.fa-tooth:after {
  content: "􏗉";
}

.fad.fa-toothbrush:after {
  content: "􏘵";
}

.fad.fa-torah:after {
  content: "􏚠";
}

.fad.fa-torii-gate:after {
  content: "􏚡";
}

.fad.fa-tornado:after {
  content: "􏝯";
}

.fad.fa-tractor:after {
  content: "􏜢";
}

.fad.fa-trademark:after {
  content: "􏉜";
}

.fad.fa-traffic-cone:after {
  content: "􏘶";
}

.fad.fa-traffic-light:after {
  content: "􏘷";
}

.fad.fa-traffic-light-go:after {
  content: "􏘸";
}

.fad.fa-traffic-light-slow:after {
  content: "􏘹";
}

.fad.fa-traffic-light-stop:after {
  content: "􏘺";
}

.fad.fa-trailer:after {
  content: "􎁁";
}

.fad.fa-train:after {
  content: "􏈸";
}

.fad.fa-tram:after {
  content: "􏟚";
}

.fad.fa-transgender:after {
  content: "􏈤";
}

.fad.fa-transgender-alt:after {
  content: "􏈥";
}

.fad.fa-transporter:after {
  content: "􎁂";
}

.fad.fa-transporter-1:after {
  content: "􎁃";
}

.fad.fa-transporter-2:after {
  content: "􎁄";
}

.fad.fa-transporter-3:after {
  content: "􎁅";
}

.fad.fa-transporter-empty:after {
  content: "􎁆";
}

.fad.fa-trash:after {
  content: "􏇸";
}

.fad.fa-trash-alt:after {
  content: "􏋭";
}

.fad.fa-trash-restore:after {
  content: "􏠩";
}

.fad.fa-trash-restore-alt:after {
  content: "􏠪";
}

.fad.fa-trash-undo:after {
  content: "􏢕";
}

.fad.fa-trash-undo-alt:after {
  content: "􏢖";
}

.fad.fa-treasure-chest:after {
  content: "􏜣";
}

.fad.fa-tree:after {
  content: "􏆻";
}

.fad.fa-tree-alt:after {
  content: "􏐀";
}

.fad.fa-tree-christmas:after {
  content: "􏟛";
}

.fad.fa-tree-decorated:after {
  content: "􏟜";
}

.fad.fa-tree-large:after {
  content: "􏟝";
}

.fad.fa-tree-palm:after {
  content: "􏠫";
}

.fad.fa-trees:after {
  content: "􏜤";
}

.fad.fa-triangle:after {
  content: "􏋬";
}

.fad.fa-triangle-music:after {
  content: "􏣢";
}

.fad.fa-trophy:after {
  content: "􏂑";
}

.fad.fa-trophy-alt:after {
  content: "􏋫";
}

.fad.fa-truck:after {
  content: "􏃑";
}

.fad.fa-truck-container:after {
  content: "􏓜";
}

.fad.fa-truck-couch:after {
  content: "􏓝";
}

.fad.fa-truck-loading:after {
  content: "􏓞";
}

.fad.fa-truck-monster:after {
  content: "􏘻";
}

.fad.fa-truck-moving:after {
  content: "􏓟";
}

.fad.fa-truck-pickup:after {
  content: "􏘼";
}

.fad.fa-truck-plow:after {
  content: "􏟞";
}

.fad.fa-truck-ramp:after {
  content: "􏓠";
}

.fad.fa-trumpet:after {
  content: "􏣣";
}

.fad.fa-tshirt:after {
  content: "􏕓";
}

.fad.fa-tty:after {
  content: "􏇤";
}

.fad.fa-turkey:after {
  content: "􏜥";
}

.fad.fa-turntable:after {
  content: "􏣤";
}

.fad.fa-turtle:after {
  content: "􏜦";
}

.fad.fa-tv:after {
  content: "􏉬";
}

.fad.fa-tv-alt:after {
  content: "􏣥";
}

.fad.fa-tv-music:after {
  content: "􏣦";
}

.fad.fa-tv-retro:after {
  content: "􏐁";
}

.fad.fa-typewriter:after {
  content: "􏣧";
}

.fad.fa-ufo:after {
  content: "􎁇";
}

.fad.fa-ufo-beam:after {
  content: "􎁈";
}

.fad.fa-umbrella:after {
  content: "􏃩";
}

.fad.fa-umbrella-beach:after {
  content: "􏗊";
}

.fad.fa-underline:after {
  content: "􏃍";
}

.fad.fa-undo:after {
  content: "􏃢";
}

.fad.fa-undo-alt:after {
  content: "􏋪";
}

.fad.fa-unicorn:after {
  content: "􏜧";
}

.fad.fa-union:after {
  content: "􏚢";
}

.fad.fa-universal-access:after {
  content: "􏊚";
}

.fad.fa-university:after {
  content: "􏆜";
}

.fad.fa-unlink:after {
  content: "􏄧";
}

.fad.fa-unlock:after {
  content: "􏂜";
}

.fad.fa-unlock-alt:after {
  content: "􏄾";
}

.fad.fa-upload:after {
  content: "􏂓";
}

.fad.fa-usb-drive:after {
  content: "􏣩";
}

.fad.fa-usd-circle:after {
  content: "􏋨";
}

.fad.fa-usd-square:after {
  content: "􏋩";
}

.fad.fa-user:after {
  content: "􏀇";
}

.fad.fa-user-alien:after {
  content: "􎁊";
}

.fad.fa-user-alt:after {
  content: "􏐆";
}

.fad.fa-user-alt-slash:after {
  content: "􏓺";
}

.fad.fa-user-astronaut:after {
  content: "􏓻";
}

.fad.fa-user-chart:after {
  content: "􏚣";
}

.fad.fa-user-check:after {
  content: "􏓼";
}

.fad.fa-user-circle:after {
  content: "􏊽";
}

.fad.fa-user-clock:after {
  content: "􏓽";
}

.fad.fa-user-cog:after {
  content: "􏓾";
}

.fad.fa-user-cowboy:after {
  content: "􏣪";
}

.fad.fa-user-crown:after {
  content: "􏚤";
}

.fad.fa-user-edit:after {
  content: "􏓿";
}

.fad.fa-user-friends:after {
  content: "􏔀";
}

.fad.fa-user-graduate:after {
  content: "􏔁";
}

.fad.fa-user-hard-hat:after {
  content: "􏠬";
}

.fad.fa-user-headset:after {
  content: "􏠭";
}

.fad.fa-user-injured:after {
  content: "􏜨";
}

.fad.fa-user-lock:after {
  content: "􏔂";
}

.fad.fa-user-md:after {
  content: "􏃰";
}

.fad.fa-user-md-chat:after {
  content: "􏠮";
}

.fad.fa-user-minus:after {
  content: "􏔃";
}

.fad.fa-user-music:after {
  content: "􏣫";
}

.fad.fa-user-ninja:after {
  content: "􏔄";
}

.fad.fa-user-nurse:after {
  content: "􏠯";
}

.fad.fa-user-plus:after {
  content: "􏈴";
}

.fad.fa-user-robot:after {
  content: "􎁋";
}

.fad.fa-user-secret:after {
  content: "􏈛";
}

.fad.fa-user-shield:after {
  content: "􏔅";
}

.fad.fa-user-slash:after {
  content: "􏔆";
}

.fad.fa-user-tag:after {
  content: "􏔇";
}

.fad.fa-user-tie:after {
  content: "􏔈";
}

.fad.fa-user-times:after {
  content: "􏈵";
}

.fad.fa-user-unlock:after {
  content: "􎁘";
}

.fad.fa-user-visor:after {
  content: "􎁌";
}

.fad.fa-users:after {
  content: "􏃀";
}

.fad.fa-users-class:after {
  content: "􏘽";
}

.fad.fa-users-cog:after {
  content: "􏔉";
}

.fad.fa-users-crown:after {
  content: "􏚥";
}

.fad.fa-users-medical:after {
  content: "􏠰";
}

.fad.fa-users-slash:after {
  content: "􎁳";
}

.fad.fa-utensil-fork:after {
  content: "􏋣";
}

.fad.fa-utensil-knife:after {
  content: "􏋤";
}

.fad.fa-utensil-spoon:after {
  content: "􏋥";
}

.fad.fa-utensils:after {
  content: "􏋧";
}

.fad.fa-utensils-alt:after {
  content: "􏋦";
}

.fad.fa-vacuum:after {
  content: "􎁍";
}

.fad.fa-vacuum-robot:after {
  content: "􎁎";
}

.fad.fa-value-absolute:after {
  content: "􏚦";
}

.fad.fa-vector-square:after {
  content: "􏗋";
}

.fad.fa-venus:after {
  content: "􏈡";
}

.fad.fa-venus-double:after {
  content: "􏈦";
}

.fad.fa-venus-mars:after {
  content: "􏈨";
}

.fad.fa-vest:after {
  content: "􎂅";
}

.fad.fa-vest-patches:after {
  content: "􎂆";
}

.fad.fa-vhs:after {
  content: "􏣬";
}

.fad.fa-vial:after {
  content: "􏒒";
}

.fad.fa-vials:after {
  content: "􏒓";
}

.fad.fa-video:after {
  content: "􏀽";
}

.fad.fa-video-plus:after {
  content: "􏓡";
}

.fad.fa-video-slash:after {
  content: "􏓢";
}

.fad.fa-vihara:after {
  content: "􏚧";
}

.fad.fa-violin:after {
  content: "􏣭";
}

.fad.fa-virus:after {
  content: "􎁴";
}

.fad.fa-virus-slash:after {
  content: "􎁵";
}

.fad.fa-viruses:after {
  content: "􎁶";
}

.fad.fa-voicemail:after {
  content: "􏢗";
}

.fad.fa-volcano:after {
  content: "􏝰";
}

.fad.fa-volleyball-ball:after {
  content: "􏑟";
}

.fad.fa-volume:after {
  content: "􏚨";
}

.fad.fa-volume-down:after {
  content: "􏀧";
}

.fad.fa-volume-mute:after {
  content: "􏚩";
}

.fad.fa-volume-off:after {
  content: "􏀦";
}

.fad.fa-volume-slash:after {
  content: "􏋢";
}

.fad.fa-volume-up:after {
  content: "􏀨";
}

.fad.fa-vote-nay:after {
  content: "􏝱";
}

.fad.fa-vote-yea:after {
  content: "􏝲";
}

.fad.fa-vr-cardboard:after {
  content: "􏜩";
}

.fad.fa-wagon-covered:after {
  content: "􏣮";
}

.fad.fa-walker:after {
  content: "􏠱";
}

.fad.fa-walkie-talkie:after {
  content: "􏣯";
}

.fad.fa-walking:after {
  content: "􏕔";
}

.fad.fa-wallet:after {
  content: "􏕕";
}

.fad.fa-wand:after {
  content: "􏜪";
}

.fad.fa-wand-magic:after {
  content: "􏜫";
}

.fad.fa-warehouse:after {
  content: "􏒔";
}

.fad.fa-warehouse-alt:after {
  content: "􏒕";
}

.fad.fa-washer:after {
  content: "􏢘";
}

.fad.fa-watch:after {
  content: "􏋡";
}

.fad.fa-watch-calculator:after {
  content: "􏣰";
}

.fad.fa-watch-fitness:after {
  content: "􏘾";
}

.fad.fa-water:after {
  content: "􏝳";
}

.fad.fa-water-lower:after {
  content: "􏝴";
}

.fad.fa-water-rise:after {
  content: "􏝵";
}

.fad.fa-wave-sine:after {
  content: "􏢙";
}

.fad.fa-wave-square:after {
  content: "􏠾";
}

.fad.fa-wave-triangle:after {
  content: "􏢚";
}

.fad.fa-waveform:after {
  content: "􏣱";
}

.fad.fa-waveform-path:after {
  content: "􏣲";
}

.fad.fa-webcam:after {
  content: "􏠲";
}

.fad.fa-webcam-slash:after {
  content: "􏠳";
}

.fad.fa-weight:after {
  content: "􏒖";
}

.fad.fa-weight-hanging:after {
  content: "􏗍";
}

.fad.fa-whale:after {
  content: "􏜬";
}

.fad.fa-wheat:after {
  content: "􏜭";
}

.fad.fa-wheelchair:after {
  content: "􏆓";
}

.fad.fa-whistle:after {
  content: "􏑠";
}

.fad.fa-wifi:after {
  content: "􏇫";
}

.fad.fa-wifi-1:after {
  content: "􏚪";
}

.fad.fa-wifi-2:after {
  content: "􏚫";
}

.fad.fa-wifi-slash:after {
  content: "􏚬";
}

.fad.fa-wind:after {
  content: "􏜮";
}

.fad.fa-wind-turbine:after {
  content: "􏢛";
}

.fad.fa-wind-warning:after {
  content: "􏝶";
}

.fad.fa-window:after {
  content: "􏐎";
}

.fad.fa-window-alt:after {
  content: "􏐏";
}

.fad.fa-window-close:after {
  content: "􏐐";
}

.fad.fa-window-frame:after {
  content: "􎁏";
}

.fad.fa-window-frame-open:after {
  content: "􎁐";
}

.fad.fa-window-maximize:after {
  content: "􏋐";
}

.fad.fa-window-minimize:after {
  content: "􏋑";
}

.fad.fa-window-restore:after {
  content: "􏋒";
}

.fad.fa-windsock:after {
  content: "􏝷";
}

.fad.fa-wine-bottle:after {
  content: "􏜯";
}

.fad.fa-wine-glass:after {
  content: "􏓣";
}

.fad.fa-wine-glass-alt:after {
  content: "􏗎";
}

.fad.fa-won-sign:after {
  content: "􏅙";
}

.fad.fa-wreath:after {
  content: "􏟢";
}

.fad.fa-wrench:after {
  content: "􏂭";
}

.fad.fa-x-ray:after {
  content: "􏒗";
}

.fad.fa-yen-sign:after {
  content: "􏅗";
}

.fad.fa-yin-yang:after {
  content: "􏚭";
}/*# sourceMappingURL=duotone.css.map */