$primary-color:#17a2b8;
$dark-color:#343a40;
$light-color:#f4f4f4;
$danger-color:#dc3545;
$success-color:#28a745;
$max-width:1100px;

@function set-color($color){
  @if (lightness($color) > 50) {
      @return #333;
  }@else{
      @return #fff;
  }
};

@mixin set-background-color($color) {
    background-color: $color;
    color: set-color($color);
}