// text styles
.x-large{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.x-large{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

// Buttons
.btn{
    display: inline-block;
    background: $light-color;
    color: #333;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in;
    &.btn-primary{
        @include set-background-color($primary-color);
        &:hover{
            background: lighten($primary-color, 5%)
        }
    }
    &.btn-dark{
        @include set-background-color($dark-color);
        &:hover{
            background: lighten($dark-color, 5%)
        }
    }
    &.btn-success{
        @include set-background-color($success-color);
        &:hover{
            background: lighten($success-color, 5%)
        }
    }
    &.btn-danger{
        @include set-background-color($danger-color);
        &:hover{
            background: lighten($danger-color, 5%)
        }
    }
    &.btn-light{
        @include set-background-color($light-color);
        &:hover{
            background: lighten($light-color, 5%)
        }
    }
}
.bg{
    &-primary{
        @include set-background-color($primary-color);
    }
    &-dark{
        @include set-background-color($dark-color);
    }
    &-light{
        @include set-background-color($light-color);
        border: 1px solid #ccc;
    }
    &-success{
        @include set-background-color($success-color);
    }     
    &-danger{
        @include set-background-color($danger-color);
    }
    &-white{
        @include set-background-color(#fff);
        border: 1px solid #ccc;
    }
}


// Dark Overlay
.dark-overlay{
    position: absolute;
    background:rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}