@import 'config';
@import 'utilites';

// core styles
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    font-size: 1rem;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

// Navbar
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid $primary-color;
    top: 0;
    opacity: 0.9;

    ul{
        display: flex;
    }

    a{
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover{
            color: $primary-color;
        }
    }
}

// landing
.landing{
    position: relative;
    background: url('../dist/image/background.jpg') no-repeat center;
    height: 100vh;
    background-size: cover;
    
    &-inner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;

    }
}